@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea {
  -webkit-appearance: none; }

input[type="submit"], button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }

html {
  box-sizing: border-box; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  min-width: 1024px;
  background: #f0f0f0;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #404040; }

button, input, textarea {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #404040; }
  button:disabled, input:disabled, textarea:disabled {
    cursor: not-allowed; }

button {
  background: none; }

a {
  text-decoration: none; }

th {
  text-align: left;
  font-weight: 400; }

.wrapper {
  min-height: 100%;
  padding-top: 70px;
  transition: padding .2s; }
  .wrapper.is-header-fixed {
    padding-top: 40px; }
  .wrapper.wrapper_login {
    height: 100vh;
    padding: 50px 0;
    background: url(../img/bg-login.jpg);
    background-size: cover;
    text-align: center;
    font-size: 0; }
    .wrapper.wrapper_login:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }

.row {
  margin: 0 -10px;
  font-size: 0; }
  .row.row_vertical_middle [class^="col-"] {
    vertical-align: middle; }
  .row.row_vertical_bottom [class^="col-"] {
    vertical-align: bottom; }

[class^="col-"] {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  vertical-align: top; }

.col-100 {
  width: 100%; }

.col-90 {
  width: 90%; }

.col-80 {
  width: 80%; }

.col-75 {
  width: 75%; }

.col-70 {
  width: 70%; }

.col-67 {
  width: 66.67%; }

.col-60 {
  width: 60%; }

.col-55 {
  width: 55%; }

.col-50 {
  width: 50%; }

.col-45 {
  width: 45%; }

.col-40 {
  width: 40%; }

.col-35 {
  width: 35%; }

.col-33 {
  width: 33.33%; }

.col-30 {
  width: 30%; }

.col-25 {
  width: 25%; }

.col-20 {
  width: 20%; }

.col-17 {
  width: 16.64%; }

.col-10 {
  width: 10%; }

.mt-3 {
  margin-top: 3px; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-45 {
  margin-top: 45px; }

.mt-50 {
  margin-top: 50px; }

.mt-55 {
  margin-top: 55px; }

.mt-60 {
  margin-top: 60px; }

.mt-65 {
  margin-top: 65px; }

.mt-70 {
  margin-top: 70px; }

.mb-3 {
  margin-bottom: 3px; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-45 {
  margin-bottom: 45px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-55 {
  margin-bottom: 55px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-65 {
  margin-bottom: 65px; }

.mb-70 {
  margin-bottom: 70px; }

.mr-3 {
  margin-right: 3px; }

.mr-5 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-25 {
  margin-right: 25px; }

.mr-30 {
  margin-right: 30px; }

.mr-35 {
  margin-right: 35px; }

.mr-40 {
  margin-right: 40px; }

.mr-45 {
  margin-right: 45px; }

.mr-50 {
  margin-right: 50px; }

.mr-55 {
  margin-right: 55px; }

.mr-60 {
  margin-right: 60px; }

.mr-65 {
  margin-right: 65px; }

.mr-70 {
  margin-right: 70px; }

.ml-3 {
  margin-left: 3px; }

.ml-5 {
  margin-left: 5px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-25 {
  margin-left: 25px; }

.ml-30 {
  margin-left: 30px; }

.ml-35 {
  margin-left: 35px; }

.ml-40 {
  margin-left: 40px; }

.ml-45 {
  margin-left: 45px; }

.ml-50 {
  margin-left: 50px; }

.ml-55 {
  margin-left: 55px; }

.ml-60 {
  margin-left: 60px; }

.ml-65 {
  margin-left: 65px; }

.ml-70 {
  margin-left: 70px; }

.mr-3p {
  margin-right: 3%; }

.mr-5p {
  margin-right: 5%; }

.mr-10p {
  margin-right: 10%; }

.mr-15p {
  margin-right: 15%; }

.mr-20p {
  margin-right: 20%; }

.mr-25p {
  margin-right: 25%; }

.mr-30p {
  margin-right: 30%; }

.mr-35p {
  margin-right: 35%; }

.mr-40p {
  margin-right: 40%; }

.mr-45p {
  margin-right: 45%; }

.mr-50p {
  margin-right: 50%; }

.mr-55p {
  margin-right: 55%; }

.mr-60p {
  margin-right: 60%; }

.mr-65p {
  margin-right: 65%; }

.mr-70p {
  margin-right: 70%; }

.ml-3p {
  margin-left: 3%; }

.ml-5p {
  margin-left: 5%; }

.ml-10p {
  margin-left: 10%; }

.ml-15p {
  margin-left: 15%; }

.ml-20p {
  margin-left: 20%; }

.ml-25p {
  margin-left: 25%; }

.ml-30p {
  margin-left: 30%; }

.ml-35p {
  margin-left: 35%; }

.ml-40p {
  margin-left: 40%; }

.ml-45p {
  margin-left: 45%; }

.ml-50p {
  margin-left: 50%; }

.ml-55p {
  margin-left: 55%; }

.ml-60p {
  margin-left: 60%; }

.ml-65p {
  margin-left: 65%; }

.ml-70p {
  margin-left: 70%; }

.color-default {
  color: #404040; }

.fs-22 {
  font-size: 22px; }

.fs-12 {
  font-size: 12px; }

.text-upper {
  text-transform: uppercase; }

.panel {
  background: #fff;
  padding: 30px 40px; }
  .panel.panel_p-0-40 {
    padding: 0 40px; }
  .panel.panel_p-40 {
    padding: 40px; }
  .panel.panel_p-30 {
    padding: 30px; }
  .panel.panel_pb-10 {
    padding-bottom: 10px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.box-shadow {
  background: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

.bt {
  border-top: 1px solid rgba(218, 218, 218, 0.5); }

.br {
  border-right: 1px solid rgba(218, 218, 218, 0.5); }

.bb {
  border-bottom: 1px solid rgba(218, 218, 218, 0.5); }

.bl {
  border-left: 1px solid rgba(218, 218, 218, 0.5); }

.center {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  *zoom: 1; }
  .center:after {
    content: " ";
    display: table;
    clear: both; }
  .center.center_small {
    max-width: 924px; }

.container {
  padding: 20px 0 50px; }

.btn {
  height: 46px;
  padding: 0 30px;
  background: #ff6633;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase; }
  .btn:hover {
    background: #fe7d53; }
  .btn:active {
    background: #fd5923; }
  .btn[disabled] {
    background: #787878;
    color: #C9C9C9; }
  .btn.btn_gray {
    height: 46px;
    background: #f0f0f0;
    border: 1px solid #a4a4a4;
    opacity: 0.8;
    color: #404040; }
    .btn.btn_gray:hover {
      background: #fafafa; }
    .btn.btn_gray:active {
      background: #dfdfdf; }
    .btn.btn_gray[disabled] {
      background: #f0f0f0;
      opacity: 0.3; }
  .btn.btn_transparent {
    background: transparent;
    border: 1px solid #8b8b8b;
    border-radius: 2px;
    font-weight: 400; }
    .btn.btn_transparent:hover {
      background: #8b8b8b; }
    .btn.btn_transparent:active {
      background: #b2b2b2;
      border-color: #b2b2b2; }
    .btn.btn_transparent[disabled] {
      border-color: #fff;
      color: #fff;
      opacity: 0.1; }
  .btn.btn_white {
    background: #fff;
    border: 1px solid #dadada;
    color: #404040; }
    .btn.btn_white:hover {
      background: #FAFAFA; }
    .btn.btn_white:active {
      background: #f0f0f0; }
    .btn.btn_white[disabled] {
      opacity: .3; }
  .btn.btn_white_no_brd {
    background: #fff;
    border: none;
    color: #fff; }
    .btn.btn_white_no_brd[disabled] {
      background: rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.5); }
  .btn.btn_wide {
    width: 100%; }
  .btn.btn_md {
    height: 40px;
    padding: 0 20px; }
  .btn.btn_small {
    height: 30px;
    padding: 0 10px;
    font-size: 13px; }
  .btn + .btn {
    margin-left: 17px; }
  .btn > .icon {
    margin-right: 18px;
    fill: #404040; }
  .btn > .icon-plus {
    position: relative;
    top: 2px; }

.link {
  font-size: 15px;
  color: #ff6633;
  font-weight: 600;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }
  .link:active {
    opacity: 0.8; }
  .link.is-disabled {
    opacity: 0.35; }
    .link.is-disabled:hover {
      text-decoration: none;
      cursor: default; }

.link-icon {
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle; }
  .link-icon:hover span {
    text-decoration: underline; }
  .link-icon:hover .icon {
    fill: #55bbcc; }
  .link-icon:active {
    opacity: 0.8; }
  .link-icon.is-disabled {
    opacity: 0.8; }
    .link-icon.is-disabled span, .link-icon.is-disabled .icon {
      fill: #cccccc; }
    .link-icon.is-disabled:hover {
      cursor: default; }
      .link-icon.is-disabled:hover span {
        text-decoration: none; }
  .link-icon span, .link-icon .icon {
    display: inline-block;
    vertical-align: middle; }
  .link-icon span {
    font-size: 14px;
    font-weight: 600;
    color: #55bbcc; }
  .link-icon .icon {
    position: relative;
    top: -1px;
    margin-right: 5px;
    fill: #cccccc; }

.item {
  position: relative;
  display: inline-block;
  width: 236px;
  min-height: 259px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  vertical-align: top;
  color: #404040; }
  .item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .item.item_no_foot .item__in {
    min-height: 259px; }
  .item.item_no_foot .item__head {
    min-height: 123px; }
  .item.item_small_foot .item__in {
    min-height: 229px; }
  .item.item_small_foot .item__head {
    min-height: 100px; }
  .item.item_small_foot .item__col {
    width: auto;
    height: auto; }
  .item .item__in {
    min-height: 189px;
    padding: 20px 15px 10px 20px; }
  .item .item__head {
    min-height: 113px;
    margin-bottom: 10px; }
  .item .item__type {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 9px;
    text-align: right;
    text-transform: uppercase;
    color: #ff6633;
    font-weight: 600; }
  .item .item__type_brand {
    color: #55bbcc; }
  .item .item__title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    line-height: 1.2; }
    .item .item__title:hover {
      text-decoration: underline;
      color: #404040; }
  .item .item__title-sub {
    margin-bottom: 10px;
    color: #a4a4a4; }
  .item .item__foot {
    display: table;
    width: 100%;
    border-top: 1px solid #dadada; }
  .item .item__col {
    display: table-cell;
    width: 50%;
    height: 69px;
    vertical-align: middle; }
    .item .item__col:first-child {
      padding: 7px 20px; }
    .item .item__col:last-child {
      padding: 7px 20px 7px 0; }
  .item .item__info + .item__info {
    margin-top: 10px; }
  .item .item__data {
    font-size: 16px; }
  .item .item__label {
    color: #a4a4a4; }
  .item .item__value {
    font-size: 20px;
    color: #404040; }
  .item .item__date {
    font-size: 12px;
    color: #a4a4a4;
    text-align: right; }

.tags {
  font-size: 0; }
  .tags .tags__item {
    display: inline-block;
    margin: 0 4px 4px 0;
    padding: 4px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    font-size: 12px;
    color: #747474;
    vertical-align: top;
    text-decoration: none; }

.tabs {
  font-size: 0; }
  .tabs.tabs_dropdowns .tabs__item {
    display: inline-block;
    position: relative; }
  .tabs.tabs_nav {
    margin-bottom: -20px; }
    .tabs.tabs_nav .tabs__item {
      padding: 0 20px 17px;
      font-size: 18px;
      color: #a4a4a4; }
      .tabs.tabs_nav .tabs__item:hover {
        color: #404040; }
      .tabs.tabs_nav .tabs__item.is-active {
        border-bottom: 3px solid #ff6633;
        color: #404040; }
  .tabs.tabs_simple .tabs__item {
    height: 26px;
    margin-right: 5px;
    padding: 0 12px;
    background: transparent;
    border-radius: 13px;
    font-weight: 600;
    font-size: 16px; }
    .tabs.tabs_simple .tabs__item:hover {
      background: #ececec; }
    .tabs.tabs_simple .tabs__item.is-active {
      background: #9f9f9f;
      color: #fff; }
  .tabs.tabs_blue .tabs__item {
    min-width: 94px;
    height: 30px;
    padding: 0 12px;
    background: transparent;
    border: 1px solid #55bbcc;
    border-width: 1px 1px 1px 0;
    font-size: 16px;
    color: #55bbcc; }
    .tabs.tabs_blue .tabs__item:first-child {
      border-radius: 15px 0 0 15px;
      border-width: 1px; }
    .tabs.tabs_blue .tabs__item:last-child {
      border-radius: 0 15px 15px 0; }
    .tabs.tabs_blue .tabs__item:hover {
      background: #eef8fa; }
    .tabs.tabs_blue .tabs__item.is-active {
      background: #55bbcc;
      color: #fff; }
  .tabs.tabs_rounded {
    display: inline-block;
    border: 2px solid #cfcfcf;
    background: #cfcfcf;
    border-radius: 17px;
    vertical-align: top; }
    .tabs.tabs_rounded .tabs__item {
      height: 30px;
      padding: 0 18px;
      background: transparent;
      border-radius: 15px;
      font-size: 16px;
      color: #fff; }
      .tabs.tabs_rounded .tabs__item:hover {
        color: #404040; }
      .tabs.tabs_rounded .tabs__item.is-active {
        background: #fff;
        color: #404040; }
  .tabs.tabs_line .tabs__item {
    position: relative;
    height: 40px;
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    overflow: visible; }
    .tabs.tabs_line .tabs__item.is-active {
      background: #55bbcc; }
      .tabs.tabs_line .tabs__item.is-active:after {
        content: "";
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 0;
        height: 2px;
        background: #fff; }
  .tabs.tabs_small .tabs__item {
    position: relative;
    height: 25px;
    padding: 0 7px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff; }
    .tabs.tabs_small .tabs__item:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      bottom: 5px;
      width: 1px;
      background: rgba(255, 255, 255, 0.3); }
    .tabs.tabs_small .tabs__item:first-child:before, .tabs.tabs_small .tabs__item.is-active:before {
      display: none; }
    .tabs.tabs_small .tabs__item.is-active {
      background: #1c89a3; }
      .tabs.tabs_small .tabs__item.is-active + .tabs__item:before {
        display: none; }
  .tabs .tabs__item {
    vertical-align: top; }
    .tabs .tabs__item.is-active {
      cursor: default; }

.input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #dadada;
  border-radius: 4px;
  color: #747474; }
  .input:focus {
    border-color: #b6b6b6; }
  .input[disabled] {
    color: rgba(64, 64, 64, 0.3);
    opacity: 0.8; }
  .input:-ms-input-placeholder {
    color: rgba(64, 64, 64, 0.6); }
  .input::-moz-placeholder {
    color: rgba(64, 64, 64, 0.6); }
  .input::-webkit-input-placeholder {
    color: rgba(64, 64, 64, 0.6); }
  .input::placeholder {
    color: rgba(64, 64, 64, 0.6); }
  .input.is-error {
    border-color: #ff8c8c; }

.field {
  position: relative; }
  .field.field_icon .input {
    padding-right: 40px; }
  .field.field_icon_left .field__icon {
    right: auto;
    left: 0;
    border-radius: 4px 0 0 4px; }
  .field.field_icon_left .input {
    padding: 0 10px 0 40px; }
  .field.field_icon_blue .field__icon {
    background: #55bbcc; }
  .field.field_icon_blue .input {
    padding: 0 10px 0 55px; }
  .field.field_search .field__in, .field.field_search_round .field__in {
    position: relative;
    display: block;
    cursor: text; }
  .field.field_search .input, .field.field_search_round .input {
    font-size: 16px; }
    .field.field_search .input:focus + .icon, .field.field_search_round .input:focus + .icon {
      fill: #ff6633;
      opacity: 1; }
  .field.field_search .icon-search, .field.field_search_round .icon-search {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    margin-top: -8px;
    fill: #404040;
    opacity: .6; }
  .field.field_search_round .input {
    height: 34px;
    padding: 0 35px;
    border-radius: 17px;
    border-color: #ececec; }
    .field.field_search_round .input:hover {
      border-color: #dadada; }
  .field.field_search_round .icon {
    left: 12px; }
  .field.field_search .input {
    padding-left: 38px; }
  .field.field_search .icon {
    left: 14px; }
  .field .field__error {
    padding: 6px 12px 0;
    font-size: 13px;
    font-weight: 600;
    color: #ff4040; }
  .field .field__reset {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    font-size: 0; }
    .field .field__reset .icon-close {
      fill: #cccccc; }
    .field .field__reset:hover .icon-close {
      fill: #a4a4a4; }
  .field .field__icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    border-radius: 0 4px 4px 0;
    text-align: center;
    font-size: 0; }
    .field .field__icon:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
    .field .field__icon .icon {
      fill: #a4a4a4;
      vertical-align: middle; }
  .field .field__icon {
    font-weight: 600;
    font-size: 18px;
    color: #fff; }

.list .list__item {
  display: block;
  position: relative;
  padding: 16px 20px 16px 40px;
  border-bottom: 1px solid #ececec;
  text-decoration: none;
  color: black; }
  .list .list__item:first-child {
    border-top: 1px solid #ececec; }
  .list .list__item:hover, .list .list__item:active, .list .list__item.is-active {
    background: #eef8fa; }
    .list .list__item:hover .icon-tick, .list .list__item:active .icon-tick, .list .list__item.is-active .icon-tick {
      display: block; }
  .list .list__item:hover {
    text-decoration: underline; }
  .list .list__item:active {
    color: rgba(64, 64, 64, 0.8); }
  .list .list__item.is-active {
    cursor: default; }
    .list .list__item.is-active:hover {
      text-decoration: none; }
.list .icon-tick {
  display: none;
  position: absolute;
  top: 21px;
  left: 15px;
  fill: #55bbcc; }

.notify {
  display: inline-block;
  background: #707070;
  border-radius: 2px;
  vertical-align: top; }
  .notify .notify__icon, .notify .notify__text, .notify .notify__btn {
    display: table-cell;
    vertical-align: top; }
  .notify .notify__icon {
    height: 60px;
    padding: 0 10px 0 30px;
    vertical-align: middle; }
    .notify .notify__icon .icon-tick {
      fill: #55bbcc; }
    .notify .notify__icon .icon-progress {
      position: relative;
      top: 1px;
      fill: #cccccc; }
  .notify .notify__text {
    padding: 20px 30px 20px 0;
    font-size: 16px;
    color: #fff; }
  .notify .notify__btn {
    padding: 15px 15px 15px 0; }

.msg {
  position: relative;
  margin-bottom: 10px;
  padding: 20px 20px 20px 16px;
  background: #FFF;
  border-radius: 2px; }
  .msg.msg_login {
    margin-top: -30px; }
  .msg .msg__content {
    display: table;
    color: #db0000; }
    .msg .msg__content a {
      font-weight: 600;
      color: #db0000; }
  .msg .msg__icon {
    float: left;
    margin-right: 12px; }
    .msg .msg__icon .icon {
      fill: #db0000;
      opacity: .55; }

.select {
  position: relative;
  cursor: pointer; }
  .select.is-active .select__head {
    border-radius: 4px 4px 0 0; }
    .select.is-active .select__head .icon-arrow-down {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .select.is-active .select__list {
    display: block; }
  .select.select_big .select__head {
    height: 46px;
    font-weight: 600;
    line-height: 44px; }
  .select .select__head {
    position: relative;
    height: 40px;
    padding: 0 30px 0 12px;
    background: #f0f0f0;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    opacity: 0.8;
    line-height: 38px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .select .select__head:hover {
      background: #fbfbfb; }
    .select .select__head:active {
      background: #f0f0f0; }
    .select .select__head .icon-arrow-down {
      position: absolute;
      top: 50%;
      right: 14px;
      height: 8px;
      margin-top: -4px;
      fill: #b4b4b4; }
  .select .select__value {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .select .select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #a4a4a4;
    border-top: none;
    border-radius: 0 0 4px 4px;
    z-index: 2; }
    .select .select__list li {
      padding: 11px 12px; }
      .select .select__list li:last-child {
        border-radius: 0 0 4px 4px; }
      .select .select__list li:hover, .select .select__list li.is-active {
        background: #f0f0f0; }

.switch {
  position: relative;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  z-index: 4; }
  .switch input {
    display: none; }
    .switch input:checked + .switch__in {
      background: #55bbcc; }
      .switch input:checked + .switch__in:before {
        right: -1px; }
  .switch .switch__in {
    display: block;
    position: relative;
    width: 36px;
    height: 14px;
    background: #9f9f9f;
    border-radius: 7px;
    transition: background .2s; }
    .switch .switch__in:before {
      content: "";
      position: absolute;
      top: -3px;
      right: 17px;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.16);
      transition: right .2s; }

.switcher {
  font-size: 0; }
  .switcher.switcher_logos .switcher__item {
    margin: 0 50px 20px 0; }
  .switcher.switcher_logos .switcher__el {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)";
    opacity: .3; }
    .switcher.switcher_logos .switcher__el:hover {
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(0%);
      opacity: .5; }
  .switcher.switcher_logos .switcher__input:checked + .switcher__el {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    opacity: 1; }
  .switcher.switcher_btns .switcher__item {
    margin: 0 12px 12px 0; }
  .switcher.switcher_btns .switcher__el {
    height: 30px;
    padding: 4px 13px;
    border: 1px solid rgba(164, 164, 164, 0.8);
    border-radius: 15px;
    font-size: 16px;
    color: rgba(64, 64, 64, 0.8); }
    .switcher.switcher_btns .switcher__el:hover {
      background: #f0f0f0; }
  .switcher.switcher_btns .switcher__input:checked + .switcher__el {
    background: #55bbcc;
    border-color: #55bbcc;
    color: #fff; }
  .switcher.switcher_radio .switcher__item {
    margin: 0 30px 0 0; }
  .switcher.switcher_radio .switcher__el {
    position: relative;
    padding-left: 32px;
    font-size: 18px; }
    .switcher.switcher_radio .switcher__el:hover:before {
      background: #fff; }
    .switcher.switcher_radio .switcher__el:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 23px;
      background: #f0f0f0;
      border: 1px solid #dadada;
      border-radius: 50%; }
  .switcher.switcher_radio .switcher__input:checked + .switcher__el:before {
    background: #fff;
    border: 8px solid #55bbcc; }
  .switcher.switcher_checkbox .switcher__el {
    position: relative;
    padding-left: 30px; }
    .switcher.switcher_checkbox .switcher__el:hover:before {
      background: #fff; }
    .switcher.switcher_checkbox .switcher__el:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background: #f0f0f0;
      border: 1px solid #dadada;
      border-radius: 2px; }
    .switcher.switcher_checkbox .switcher__el > .icon-tick {
      display: none;
      position: absolute;
      top: 5px;
      left: 4px;
      width: 12px;
      height: 10px;
      fill: #fff; }
  .switcher.switcher_checkbox .switcher__input:checked + .switcher__el:before {
    background: #55bbcc;
    border-color: #55bbcc; }
  .switcher.switcher_checkbox .switcher__input:checked + .switcher__el > .icon-tick {
    display: block; }
  .switcher.switcher_checkbox .switcher__content {
    display: block;
    padding: 1px 0;
    font-weight: 600;
    font-size: 14px; }
  .switcher .switcher__item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
  .switcher .switcher__el {
    display: block; }
  .switcher .switcher__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }

.tooltip {
  position: absolute;
  padding: 7px 10px;
  border-radius: 2px;
  background: #404040;
  text-align: center; }
  .tooltip:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #404040 transparent transparent transparent; }
  .tooltip .tooltip__date, .tooltip .tooltip__money {
    font-size: 10px;
    color: #fff; }
  .tooltip .tooltip__money {
    margin-bottom: 5px; }
  .tooltip .tooltip__value {
    font-size: 19px;
    color: #dce775; }
  .tooltip .tooltip__type {
    font-size: 10px;
    color: #dce775; }

.field-icon {
  display: block;
  position: relative;
  cursor: text; }
  .field-icon.is-disabled {
    cursor: not-allowed; }
    .field-icon.is-disabled .field-icon__input, .field-icon.is-disabled .field-icon__label {
      border-color: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.2); }
    .field-icon.is-disabled .icon {
      fill: rgba(255, 255, 255, 0.2); }
  .field-icon.is-filled .field-icon__input {
    border-color: #fff; }
  .field-icon.is-filled .field-icon__label {
    top: 0;
    font-size: 10px; }
  .field-icon.is-error .field-icon__input {
    border-color: rgba(187, 50, 50, 0.8); }
  .field-icon .field-icon__input {
    width: 100%;
    height: 46px;
    padding-left: 30px;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    font-size: 15px;
    color: #fff;
    transition: border-color .2s; }
    .field-icon .field-icon__input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .field-icon .field-icon__input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .field-icon .field-icon__input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .field-icon .field-icon__input::placeholder {
      color: rgba(255, 255, 255, 0.8); }
  .field-icon .field-icon__label {
    position: absolute;
    top: 14px;
    left: 30px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    transition: top .2s, font-size .2s; }
  .field-icon .field-icon__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 44px;
    font-size: 0; }
    .field-icon .field-icon__icon:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
  .field-icon .field-icon__error {
    display: block;
    padding: 3px 0 0 30px;
    font-size: 13px;
    font-weight: 600;
    color: #bb3232; }
  .field-icon .icon {
    display: inline-block;
    fill: rgba(255, 255, 255, 0.8);
    vertical-align: middle; }

.login {
  display: inline-block;
  width: 350px;
  vertical-align: middle;
  font-size: 14px;
  text-align: left; }
  .login .login__logo {
    margin-bottom: 60px;
    padding-left: 31px; }
  .login .login__ico {
    display: inline-block;
    width: 278px;
    height: 46px;
    background: url("../img/logo-screen.svg") no-repeat 0 0;
    background-size: 278px 46px; }
  .login .login__fieldset {
    margin-bottom: 40px;
    text-align: left; }
    .login .login__fieldset .field-icon {
      margin-bottom: 15px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1024px;
  height: 70px;
  background: url(../img/bg-header.jpg) no-repeat 50% 0 #ff6633;
  transition: height .2s;
  z-index: 99; }
  .header.is-fixed {
    height: 40px;
    background: #ff6633; }
    .header.is-fixed .header__cell {
      height: 40px; }
    .header.is-fixed .header__nav a {
      height: 40px;
      line-height: 40px; }
      .header.is-fixed .header__nav a:after {
        display: none; }
    .header.is-fixed .header__notify-counter {
      top: -2px; }
    .header.is-fixed .header__btn-menu {
      width: auto;
      height: auto;
      border: 0px solid transparent;
      border-radius: 0; }
    .header.is-fixed .header__chapter .dropdown-menu {
      left: -16px; }
    .header.is-fixed .header__chapter-title {
      font-size: 20px; }
    .header.is-fixed .header__chapter-add {
      width: 21px;
      height: 21px; }
      .header.is-fixed .header__chapter-add .icon-plus {
        width: 13px;
        height: 13px;
        fill: #55bbcc; }
      .header.is-fixed .header__chapter-add:active .icon-plus {
        fill: #1c89a3; }
  .header .header__left {
    float: left; }
  .header .header__right {
    float: right; }
  .header .header__cell {
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    transition: height .2s;
    font-size: 0; }
  .header .header__btn-menu {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
    border: 6px solid #f88745;
    font-size: 0;
    vertical-align: middle;
    transition: all .2s;
    transition-delay: .1s; }
    .header .header__btn-menu:hover .icon-menu, .header .header__btn-menu.is-active .icon-menu {
      fill: #ffd2c3; }
    .header .header__btn-menu .icon-menu {
      width: 18px;
      height: 16px;
      fill: #fff; }
  .header .header__chapter {
    display: inline-block;
    margin-right: 75px;
    vertical-align: middle; }
    .header .header__chapter .btn-round {
      position: relative;
      top: 2px;
      vertical-align: middle; }
    .header .header__chapter .dropdown-menu {
      left: -12px; }
  .header .header__chapter-title {
    display: inline-block;
    margin-right: 15px;
    font-size: 34px;
    color: #fff;
    vertical-align: middle;
    transition: font-size .2s; }
  .header .header__chapter-add {
    width: 31px;
    height: 31px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    font-size: 0;
    vertical-align: middle;
    transition: all .2s; }
    .header .header__chapter-add:hover .icon-plus {
      fill: #77c9d6; }
    .header .header__chapter-add:active .icon-plus {
      fill: #1c89a3; }
    .header .header__chapter-add .icon-plus {
      width: 15px;
      height: 15px;
      fill: #55bbcc; }
  .header .header__nav {
    display: inline-block;
    vertical-align: middle; }
    .header .header__nav a {
      position: relative;
      float: left;
      height: 70px;
      padding: 0 30px;
      line-height: 70px;
      font-size: 18px;
      text-decoration: none;
      color: #ffce6a;
      transition: height .2s, line-height .2s; }
      .header .header__nav a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 27px;
        right: 27px;
        height: 5px; }
      .header .header__nav a.is-active {
        background: #EB430F;
        color: #fff; }
        .header .header__nav a.is-active:after {
          background: #fff; }
      .header .header__nav a:hover {
        color: #fff; }
  .header .header__user {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle; }
  .header .header__search {
    display: inline-block;
    width: 250px;
    vertical-align: middle; }
    .header .header__search .input {
      border: none;
      background: rgba(255, 255, 255, 0.9); }
    .header .header__search.is-closed {
      width: 35px; }
      .header .header__search.is-closed .field_search_round .icon {
        left: 10px;
        fill: #fff;
        cursor: pointer; }
      .header .header__search.is-closed .input {
        padding-right: 0;
        background: rgba(255, 255, 255, 0); }
  .header .header__notify {
    display: inline-block;
    margin-left: 25px;
    padding: 0 24px 0 15px;
    color: #fff;
    vertical-align: middle; }
    .header .header__notify .icon-upload {
      width: 17px;
      height: 19px;
      fill: #fff; }
    .header .header__notify:hover .icon-upload {
      fill: #ffd2c3; }
  .header .header__notify-in {
    position: relative;
    display: block; }
  .header .header__notify-counter {
    position: absolute;
    top: -10px;
    right: -24px;
    width: 22px;
    height: 22px;
    padding: 1px 0 0 1px;
    background: #55bbcc;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    transition: top .2s; }

.btn-back {
  float: left;
  width: 20px;
  height: 60px;
  margin-right: 20px;
  background: #cccccc;
  border-radius: 2px;
  font-size: 0; }
  .btn-back:hover {
    background: #DAD9D9; }
  .btn-back:active {
    background: #C1C1C1; }
  .btn-back .icon-arrow-left {
    width: 9px;
    height: 13px;
    fill: #fff; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown.is-active .dropdown__head .icon {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .dropdown.is-active .dropdown-menu {
    display: block; }
  .dropdown.dropdown_btn .dropdown__head {
    padding: 5px 10px;
    background: #f0f0f0;
    border-radius: 4px;
    font-weight: 600; }
  .dropdown.dropdown_white:hover .dropdown__head .dropdown__title, .dropdown.dropdown_white.is-active .dropdown__head .dropdown__title {
    color: #ffd2c3; }
  .dropdown.dropdown_white:hover .dropdown__head .icon, .dropdown.dropdown_white.is-active .dropdown__head .icon {
    fill: #ffd2c3; }
  .dropdown.dropdown_white .dropdown__head .dropdown__title {
    color: #fff; }
  .dropdown.dropdown_white .dropdown__head .icon {
    fill: #fff; }
  .dropdown .dropdown__head {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
    .dropdown .dropdown__head .dropdown__title, .dropdown .dropdown__head .icon {
      display: inline-block;
      vertical-align: middle; }
    .dropdown .dropdown__head .dropdown__title {
      font-size: 16px;
      color: #404040; }
    .dropdown .dropdown__head .icon {
      width: 12px;
      height: 8px;
      margin-left: 6px;
      fill: #cccccc;
      transition: -webkit-transform .2s;
      transition: transform .2s; }

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 192px;
  margin-top: 10px;
  padding: 10px 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  z-index: 99; }
  .dropdown-menu:before, .dropdown-menu:after {
    content: "";
    position: absolute; }
  .dropdown-menu:before {
    top: -5px;
    left: 22px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    background: #fff; }
  .dropdown-menu:after {
    top: 0;
    left: 12px;
    width: 30px;
    height: 10px;
    background: #fff; }
  .dropdown-menu.dropdown-menu_right {
    left: auto;
    right: 0; }
    .dropdown-menu.dropdown-menu_right:before {
      left: auto;
      right: 22px; }
    .dropdown-menu.dropdown-menu_right:after {
      left: auto;
      right: 12px; }
  .dropdown-menu.dropdown-menu_search a {
    color: #a4a4a4; }
  .dropdown-menu.dropdown-menu_search span {
    color: #404040; }
  .dropdown-menu.dropdown-menu_urls {
    right: -90px;
    left: auto;
    width: 300px;
    padding: 20px; }
    .dropdown-menu.dropdown-menu_urls:before {
      left: 165px; }
    .dropdown-menu.dropdown-menu_urls:after {
      left: 155px; }
  .dropdown-menu a {
    display: block;
    padding: 7px 20px;
    font-size: 14px;
    color: #404040; }
    .dropdown-menu a:hover {
      background: #f3f3f3; }

.state {
  margin-bottom: 12px; }
  .state .state__in {
    display: inline; }
  .state .icon {
    width: 13px;
    height: 11px;
    margin-right: 2px;
    fill: #55bbcc; }

.head {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .head.head_p-12 {
    padding: 12px 0; }
  .head .head__in {
    padding: 20px 0; }
  .head .head__in_gray {
    padding: 15px 0;
    background: #f7f7f7; }
  .head .head__in_brd {
    border-bottom: 1px solid #dadada; }

.updated {
  color: #747474; }
  .updated.updated_save .updated__title {
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #dadada; }
  .updated .updated__title {
    font-weight: 600; }

.display-table {
  display: table; }

.display-inline {
  display: inline-block;
  vertical-align: middle; }

.display-block {
  display: block; }

.title {
  font-size: 34px;
  font-weight: 600;
  color: #000;
  line-height: 1.2; }
  .title.title_1 {
    font-size: 26px; }
  .title.title_2 {
    font-size: 24px; }
  .title.title_3 {
    font-size: 22px; }
  .title.title_4 {
    font-size: 18px; }
  .title.title_5 {
    font-size: 16px; }
  .title.title_6 {
    font-size: 14px; }
  .title.title_thin {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 400; }
  .title.title_default_color {
    color: #404040; }
  .title.title_gray {
    color: #a4a4a4; }
  .title.title_white {
    color: #fff; }
  .title.title_default {
    color: #404040; }
  .title .title__link {
    color: #000; }
    .title .title__link:hover .title__text {
      text-decoration: underline; }
  .title .title__counter {
    padding-left: 2px;
    font-size: 14px;
    color: #55bbcc;
    vertical-align: top; }

.info {
  font-size: 0;
  line-height: 1; }
  .info .info__item {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #dadada;
    font-size: 16px;
    color: #a4a4a4; }
    .info .info__item:first-child {
      padding: 0 15px 0 0;
      border: none; }
  .info .info__item_blue {
    color: #55bbcc; }

.data.data_white {
  color: #fff; }
  .data.data_white .data__label {
    color: #096482; }
.data .data__label {
  margin-bottom: 2px;
  color: #a4a4a4; }
.data .data__value {
  font-size: 18px; }
.data .data__value_mid {
  font-size: 24px; }
.data .data__value_big {
  font-size: 32px;
  line-height: 1; }
.data .data__value_bigger {
  font-size: 42px;
  line-height: 1; }
.data .data__graph {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  font-size: 0; }
.data .data__group {
  font-size: 0; }
  .data .data__group .data__value, .data .data__group .data__graph {
    display: inline-block;
    vertical-align: middle; }
  .data .data__group .data__value {
    min-width: 60px;
    margin-right: 10px; }

.table.table_fixed {
  table-layout: fixed; }
.table.table_segment th:last-child, .table.table_segment td:last-child {
  padding-right: 40px; }
.table.table_segment th {
  padding: 10px;
  border-top: 1px solid rgba(218, 218, 218, 0.5); }
.table.table_segment td {
  padding: 15px 10px;
  vertical-align: top; }
.table.table_custom {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  .table.table_custom th:first-child, .table.table_custom td:first-child {
    padding-left: 20px; }
  .table.table_custom th:last-child, .table.table_custom td:last-child {
    padding-right: 20px; }
  .table.table_custom th {
    padding: 10px; }
  .table.table_custom td {
    padding: 15px 10px; }
  .table.table_custom .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
.table th:first-child, .table td:first-child {
  padding-left: 40px; }
.table th:last-child, .table td:last-child {
  padding-right: 30px; }
.table th.table__w-10, .table td.table__w-10 {
  width: 10%; }
.table th.table__w-12, .table td.table__w-12 {
  width: 12%; }
.table th.table__w-12-5, .table td.table__w-12-5 {
  width: 12.5%; }
.table th.table__w-13, .table td.table__w-13 {
  width: 13%; }
.table th.table__w-15, .table td.table__w-15 {
  width: 15%; }
.table th.table__w-17, .table td.table__w-17 {
  width: 17%; }
.table th.table__w-25, .table td.table__w-25 {
  width: 25%; }
.table th.table__w-20, .table td.table__w-20 {
  width: 20%; }
.table th.table__w-27, .table td.table__w-27 {
  width: 27%; }
.table th.table__w-29, .table td.table__w-29 {
  width: 29%; }
.table th.table__w-31, .table td.table__w-31 {
  width: 31%; }
.table th.table__w-50, .table td.table__w-50 {
  width: 50%; }
.table th.table__pl-50, .table td.table__pl-50 {
  padding-left: 50px; }
.table tr.is-disabled td {
  position: relative; }
  .table tr.is-disabled td:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2; }
.table tr.is-active td {
  background: #eef8fa; }
  .table tr.is-active td:first-child > .icon-tick {
    display: block; }
.table th {
  padding: 0 10px 15px;
  color: #a4a4a4; }
.table td {
  position: relative;
  height: 50px;
  padding: 10px;
  border-top: 1px solid rgba(218, 218, 218, 0.5);
  vertical-align: middle; }
  .table td:first-child > .icon-tick {
    display: none;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 10px;
    height: 8px;
    fill: #55bbcc; }

.ta-left {
  text-align: left; }

.ta-right {
  text-align: right; }

.ta-center {
  text-align: center; }

.accord {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  .accord.is-active .accord__head .icon-arrow-down {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
  .accord.accord_toggle.is-active .accord__head:before {
    display: none; }
  .accord.accord_toggle .accord__head:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), transparent); }
  .accord.accord_toggle .accord__head .icon-arrow-down {
    left: 30px; }
  .accord .accord__head {
    position: relative;
    padding: 20px 40px 20px 70px; }
    .accord .accord__head .icon-arrow-down {
      position: absolute;
      top: 50%;
      left: 40px;
      width: 12px;
      height: 8px;
      margin-top: -6px;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      fill: #cccccc; }
  .accord .accord__in {
    display: none; }
  .accord .accord__title {
    font-weight: 600;
    font-size: 24px;
    color: #000; }
    .accord .accord__title:hover {
      text-decoration: underline; }
  .accord .accord__options {
    margin: -6px 0; }

.status {
  position: relative;
  padding-left: 16px; }
  .status:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 8px;
    height: 8px;
    margin-top: -5px;
    border-radius: 50%; }
  .status.status_draft:before {
    background: #FFCE6A; }
  .status.status_pushed:before {
    background: #63d300; }
  .status.status_live:before {
    background: #55bbcc; }
  .status.status_canceled:before {
    background: #eb430f; }
  .status.status_completed:before {
    border: 1px solid #a7a7a7; }
  .status.status_bold {
    font-weight: 600; }
  .status.status_small {
    font-size: 12px; }

.foot {
  display: table;
  width: 100%;
  margin-top: 30px; }
  .foot .foot__cell {
    display: table-cell;
    vertical-align: middle; }
    .foot .foot__cell:last-child {
      padding-left: 20px;
      text-align: right; }

.imported {
  color: #747474; }
  .imported .imported__user {
    color: #000; }

.section {
  margin: 0 40px 0 -10px;
  padding: 30px 0 50px 40px;
  background: #E2E2E2; }
  .section .section__head {
    margin-bottom: 20px; }
  .section .section__in {
    position: relative;
    min-height: 200px;
    margin-right: -20px;
    background: #fff; }
    .section .section__in .btn-back {
      position: absolute;
      top: 20px;
      left: -20px;
      border-radius: 2px 0 0 2px; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
  -webkit-transform: translateX(-300px);
      -ms-transform: translateX(-300px);
          transform: translateX(-300px);
  transition: -webkit-transform .4s;
  transition: transform .4s;
  z-index: 999; }
  .menu.is-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .menu .menu__head {
    position: relative;
    height: 70px;
    padding: 20px 50px 0 30px; }
  .menu .menu__logo {
    display: inline-block;
    width: 172px;
    height: 28px;
    background: url("../img/logo.svg") no-repeat 0 0;
    background-size: 172px 28px; }
  .menu .menu__close {
    position: absolute;
    top: 18px;
    right: 20px;
    padding: 10px;
    font-size: 0; }
    .menu .menu__close:hover .icon {
      fill: #a4a4a4; }
    .menu .menu__close .icon {
      width: 13px;
      height: 13px;
      fill: #cccccc; }
  .menu .menu__nav a, .menu .menu__links a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 16px 10px 75px;
    border-right: 4px solid transparent; }
    .menu .menu__nav a:hover, .menu .menu__links a:hover {
      color: #ff6633; }
    .menu .menu__nav a.is-active, .menu .menu__links a.is-active {
      background: #ffefea;
      border-color: #ff6633;
      color: #ff6633;
      cursor: default; }
  .menu .menu__nav {
    padding: 18px 0 100px; }
    .menu .menu__nav a {
      font-weight: 600;
      font-size: 17px;
      color: #000;
      text-transform: uppercase; }
  .menu .menu__links a {
    font-size: 16px;
    color: #404040; }

.sorting {
  padding: 12px;
  background: #fff; }

.total-counter {
  font-size: 16px;
  color: #747474; }

.country {
  display: inline-block;
  padding: 3px 9px;
  border: 1px solid #dadada;
  font-size: 12px;
  color: #747474;
  text-transform: uppercase;
  vertical-align: middle; }

.pager {
  font-size: 0; }
  .pager .pager__list {
    display: inline-block;
    padding: 0 13px;
    vertical-align: top; }
  .pager .pager__prev, .pager .pager__next {
    width: 40px;
    padding: 0;
    font-size: 0; }
    .pager .pager__prev .icon, .pager .pager__next .icon {
      fill: #b7b7b7; }
  .pager .pager__prev {
    padding-right: 2px; }
  .pager .pager__next {
    padding-left: 2px; }
  .pager .pager__btn {
    width: 26px;
    height: 40px;
    font-size: 16px;
    color: #55bbcc; }
    .pager .pager__btn:hover {
      color: #404040; }
    .pager .pager__btn.is-active {
      color: #000;
      cursor: default; }

.campaign {
  min-height: 538px;
  background: #55bbcc; }
  .campaign .campaign__head {
    background: #1c89a3; }
  .campaign .campaign__in {
    padding: 15px 20px; }

.progress .progress__stats {
  margin-bottom: 10px;
  *zoom: 1; }
  .progress .progress__stats:after {
    content: " ";
    display: table;
    clear: both; }
.progress .progress__stats-item {
  float: right; }
  .progress .progress__stats-item:first-child {
    float: left; }
.progress .progress__stats-value {
  font-size: 32px;
  line-height: 1; }
.progress .progress__stats-text {
  font-size: 12px; }
.progress .progress__data {
  margin-bottom: 5px;
  background: #1c89a3;
  border-radius: 2px; }
.progress .progress__data-in {
  height: 10px;
  border-radius: 2px;
  background: #dce775; }
.progress .progress__scale {
  margin-bottom: 10px;
  *zoom: 1; }
  .progress .progress__scale:after {
    content: " ";
    display: table;
    clear: both; }
.progress .progress__scale-item {
  float: right;
  font-size: 12px;
  color: #096482; }
  .progress .progress__scale-item:first-child {
    float: left; }
.progress .progress__text {
  font-size: 11px; }

.graph img {
  display: block;
  max-width: 100%; }

.more {
  position: relative;
  top: -2px;
  width: 40px;
  height: 20px;
  border-radius: 2px;
  font-size: 0;
  vertical-align: middle; }
  .more:hover {
    background: rgba(85, 187, 204, 0.3); }
  .more:active {
    background: rgba(85, 187, 204, 0.2); }
  .more .icon-dots {
    fill: #55bbcc; }

.widget {
  border: 1px solid #dadada; }
  .widget .widget__head {
    padding: 15px 20px;
    border-bottom: 1px solid #dadada;
    background: #f0f0f0; }
  .widget .widget__body {
    height: 410px;
    overflow: auto; }
  .widget .widget__row {
    margin-bottom: -1px;
    padding: 0 20px;
    border: 1px solid #dadada;
    border-width: 1px 0;
    *zoom: 1; }
    .widget .widget__row:after {
      content: " ";
      display: table;
      clear: both; }
    .widget .widget__row:first-child {
      border-width: 0 0 1px; }
    .widget .widget__row.is-active {
      background: #eef8fa; }
      .widget .widget__row.is-active .widget__right-in .icon-tick {
        display: inline-block; }
  .widget .widget__row_head {
    padding: 5px 20px;
    background: #f0f0f0;
    color: #a4a4a4; }
    .widget .widget__row_head .widget__right {
      height: auto;
      font-size: 14px; }
    .widget .widget__row_head .widget__left {
      padding: 0; }
  .widget .widget__right {
    float: right;
    margin-left: 15px; }
  .widget .widget__left {
    padding: 17px 0;
    overflow: hidden; }
  .widget .widget__right {
    height: 50px;
    text-align: center;
    font-size: 0; }
    .widget .widget__right:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
  .widget .widget__right-in {
    display: inline-block;
    vertical-align: middle; }
    .widget .widget__right-in .icon {
      vertical-align: middle; }
    .widget .widget__right-in .icon-tick {
      display: none;
      fill: #55bbcc; }
    .widget .widget__right-in .icon-arrow-right {
      fill: #a4a4a4; }
  .widget .title {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }

.widget-res {
  padding: 110px 0 0 20px; }
  .widget-res .widget-res__item {
    display: inline-block;
    position: relative;
    min-width: 150px;
    padding: 7px 30px 7px 15px;
    background: #eef8fa;
    border: 1px solid rgba(85, 187, 204, 0.5);
    border-radius: 17px;
    color: #55bbcc; }
  .widget-res .widget-res__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 34px;
    font-size: 0; }
    .widget-res .widget-res__close .icon {
      width: 9px;
      height: 8px;
      fill: #55bbcc; }

.group {
  font-size: 0; }
  .group .group__item {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    vertical-align: middle; }
  .group .group__item_w190 {
    width: 190px; }
  .group .group__item_w100 {
    width: 100px; }
  .group .group__item_w90 {
    width: 90px; }

.edit {
  position: relative;
  display: inline-block;
  padding-right: 25px;
  vertical-align: top; }
  .edit.is-active {
    display: block; }
    .edit.is-active .edit__input {
      display: block; }
    .edit.is-active .edit__content {
      display: none; }
    .edit.is-active .edit__action .icon-edit {
      display: none; }
    .edit.is-active .edit__action .icon-tick, .edit.is-active .edit__action .icon-checkbox-tick {
      display: inline-block; }
  .edit.is-error .edit__input {
    border-color: #ff4040; }
  .edit.edit_data .edit__content {
    font-size: 18px; }
  .edit.edit_data .edit__input {
    height: 23px;
    font-size: 18px; }
  .edit.edit_title {
    padding-right: 30px;
    height: 40px; }
    .edit.edit_title .edit__content {
      font-size: 34px;
      font-weight: 600;
      color: #000;
      line-height: 1.2; }
    .edit.edit_title .edit__action {
      position: absolute;
      top: 13px; }
      .edit.edit_title .edit__action .icon-edit {
        width: 18px;
        height: 18px; }
    .edit.edit_title .edit__input {
      top: -1px;
      height: 40px;
      font-size: 34px;
      font-weight: 600;
      color: #000; }
  .edit.edit_title_6 {
    height: 16px; }
    .edit.edit_title_6 .edit__content {
      font-size: 14px;
      font-weight: 600;
      color: #000;
      line-height: 1.2; }
    .edit.edit_title_6 .edit__action {
      position: absolute;
      top: -2px; }
      .edit.edit_title_6 .edit__action .icon-edit {
        width: 13px;
        height: 13px; }
    .edit.edit_title_6 .edit__input {
      top: -1px;
      font-size: 14px;
      font-weight: 600;
      color: #000; }
  .edit .edit__action {
    position: absolute;
    top: 2px;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 0; }
    .edit .edit__action .icon {
      fill: #a4a4a4; }
    .edit .edit__action .icon-edit {
      width: 15px;
      height: 15px; }
    .edit .edit__action .icon-tick, .edit .edit__action .icon-checkbox-tick {
      display: none; }
    .edit .edit__action .icon-checkbox-tick {
      width: 20px;
      height: 18px; }
  .edit .edit__input {
    display: none;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #cccccc; }
  .edit .edit__error {
    font-weight: 600;
    color: #ff4040; }

.wrap-title .title {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #dadada;
  vertical-align: middle; }

.wrap-dropdown {
  font-size: 0; }

.three-dots {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

.icon-arrow-down {
  width: 12px;
  height: 8px; }

.icon-arrow-left {
  width: 9px;
  height: 13px; }

.icon-arrow-right {
  width: 9px;
  height: 13px; }

.icon-arrow-top {
  width: 12px;
  height: 7px; }

.icon-attention {
  width: 18px;
  height: 18px; }

.icon-calendar {
  width: 19px;
  height: 18px; }

.icon-checkbox-tick {
  width: 15px;
  height: 13px; }

.icon-close {
  width: 13px;
  height: 12px; }

.icon-code {
  width: 19px;
  height: 9px; }

.icon-configure {
  width: 19px;
  height: 18px; }

.icon-continue {
  width: 11px;
  height: 9px; }

.icon-decrease {
  width: 12px;
  height: 9px;
  fill: #ffa6a6; }

.icon-dots {
  width: 19px;
  height: 5px; }

.icon-edit {
  width: 18px;
  height: 18px; }

.icon-error {
  width: 71px;
  height: 71px; }

.icon-growth {
  width: 12px;
  height: 9px;
  fill: #dce775; }

.icon-info {
  width: 19px;
  height: 18px; }

.icon-lock {
  width: 17px;
  height: 19px; }

.icon-mail {
  width: 19px;
  height: 14px; }

.icon-map-pixel {
  width: 18px;
  height: 18px; }

.icon-map-urls {
  width: 18px;
  height: 18px; }

.icon-menu {
  width: 18px;
  height: 15px; }

.icon-plus {
  width: 15px;
  height: 15px; }

.icon-progress {
  width: 20px;
  height: 15px; }

.icon-search {
  width: 15px;
  height: 15px; }

.icon-segment {
  width: 18px;
  height: 18px; }

.icon-success {
  width: 71px;
  height: 71px; }

.icon-tick {
  width: 13px;
  height: 11px; }

.icon-upload {
  width: 17px;
  height: 19px; }

.icon-upload-circle {
  width: 19px;
  height: 20px; }

.icon-url {
  width: 18px;
  height: 19px; }

.icon-view {
  width: 22px;
  height: 15px; }
