@include font(Source Sans Pro Regular, sourcesanspro-regular);
@mixin f {
	font-family: 'Source Sans Pro Regular', Arial, sans-serif;
}
@include font(Source Sans Pro Semibold, sourcesanspro-semibold);
@mixin fs {
	font-family: 'Source Sans Pro Semibold', Arial, sans-serif;
}

$cl: #404040;
$orange: #ff6633;
$blue: #55bbcc;
$gray: #cccccc;
$brd: #dadada;

body {
	min-width: 1024px;
	background: #F0F0F0;
	@include f;
	font-size: 14px;
	line-height: 1.3;
	color: $cl;
}

button,
input,
textarea {
	@include f;
	font-size: 14px;
	color: $cl;
	&:disabled {
		cursor: not-allowed;
	}
}
button {
	background: none;
}
a {
	text-decoration: none;
}

// common blocks
.wrapper {
	min-height: 100%;
	&.wrapper_login {
		height: 100vh;
		padding: 50px 0;
		background: url(../img/bg-login.jpg);
		background-size: cover;
		@include vertical;
	}
}

.center {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 10px;
	@include clr;
}

.container {
	padding: 20px 0 50px; 
}

.btn {
	height: 46px;
	padding: 0 30px;
	background: $orange;
	border-radius: 4px;
	font-size: 15px;
	@include fs;
	color: white;
	text-transform: uppercase;
	&:hover {
		background: #fe7d53;
	}
	&:active {
		background: #fd5923;
	}
	&[disabled] {
		background: #ffdccf;
	}
	&.btn_gray {
		height: 46px;
		background: #f0f0f0;
		border: 1px solid #a4a4a4;
		opacity: 0.8;
		color: $cl;
		&:hover {
			background: #fafafa;
		}
		&:active {
			background: #dfdfdf;
		}
		&[disabled] {
			background: #f0f0f0;
			opacity: 0.3;
		}
	}
	&.btn_transparent {
		width: auto;
		height: 30px;
		padding: 0 12px;
		background: transparent;
		border: 1px solid #8b8b8b;
		border-radius: 2px;
		font-weight: 400;
		&:hover {
			background: #8b8b8b;
		}
		&:active {
			background: #b2b2b2;
			border-color: #b2b2b2;
		}
		&[disabled] {
			border-color: white;
			color: white;
			opacity: 0.1;
		}
	}
	&.btn_wide {
		width: 100%;
	}
	&.btn_small {
		min-width: 0;
		height: 30px;
		padding: 0 10px;
	}
	& + .btn {
		margin-left: 7px;
	}
}

.link {
	font-size: 15px;
	color: $orange;
	@include fs;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		opacity: 0.8;
	}
	&.is-disabled {
		opacity: 0.35;
		&:hover {
			text-decoration: none;
			cursor: default;
		}
	}
}

.link-icon {
	display: inline-block;
	font-size: 0;
	&:hover {
		span {
			text-decoration: underline;
		}
		.icon {
			fill: $blue;
		}
	}
	&:active {
		opacity: 0.8;
	}
	&.is-disabled {
		opacity: 0.8;
		span,
		.icon {
			fill: $gray;
		}
		&:hover {
			cursor: default;
			span {
				text-decoration: none;
			}
		}
	}
	span,
	.icon {
		display: inline-block;
		vertical-align: middle;
	}
	span {
		font-size: 14px;
		@include fs;
		color: $blue;
	}
	.icon {
		position: relative;
		top: -1px;
		margin-right: 5px;
		fill: $gray;
	}
	.icon-code {
		width: 19px;
		height: 9px;
	}
	.icon-view {
		width: 22px;
		height: 15px;
	}
}

.item {
	display: inline-block;
	width: 236px;
	height: 260px;
	background: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	vertical-align: top;
	color: $cl;
	&:hover {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	.item__in {
		min-height: 190px;
		padding: 10px 15px 20px 20px;
	}
	.item__type {
		font-size: 9px;
		text-align: right;
		text-transform: uppercase;
		color: $orange;
		@include fs;
	}
	.item__title {
		font-size: 18px;
		@include fs;
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.item__title-sub {
		margin-bottom: 10px;
		color: #a4a4a4;
	}
	.item__foot {
		display: table;
		width: 100%;
		border-top: 1px solid #dadada;
	}
	.item__col {
		display: table-cell;
		width: 50%;
		height: 70px;
		padding: 12px 12px 12px 0;
		vertical-align: top;
		&:first-child {
			padding-left: 20px;
		}
	}
	.item__label {
		color: #a4a4a4;
	}
	.item__value {
		font-size: 20px;
		color: #444444;
	}
}

.tags {
	font-size: 0;
	.tags__item {
		display: inline-block;
		margin: 0 4px 4px 0;
		padding: 4px 10px;
		border: 1px solid #e6e6e6;
		border-radius: 2px;
		font-size: 12px;
		color: #747474;
		vertical-align: top;
		text-decoration: none;
	}
}

.tabs {
	font-size: 0;
	&.tabs_simple {
		.tabs__item {
			height: 26px;
			margin-right: 5px;
			padding: 0 12px;
			background: transparent;
			border-radius: 13px;
			font-size: 16px;
			&:hover {
				background: #ececec;
			}
			&.is-active {
				background: #9f9f9f;
				color: white;
			}
		}
	}
	&.tabs_blue {
		.tabs__item {
			min-width: 94px;
			height: 30px;
			padding: 0 12px;
			background: transparent;
			border: 1px solid $blue;
			border-width: 1px 1px 1px 0;
			font-size: 16px;
			color: $blue;
			&:first-child {
				border-radius: 15px 0 0 15px;
				border-width: 1px;
			}
			&:last-child {
				border-radius: 0 15px 15px 0;
			}
			&:hover {
				background: #eef8fa;
			}
			&.is-active {
				background: $blue;
				color: white;
			}
		}
	}
	&.tabs_rounded {
		display: inline-block;
		border: 2px solid #cfcfcf;
		background: #cfcfcf;
		border-radius: 17px;
		vertical-align: top;
		.tabs__item {
			height: 30px;
			padding: 0 18px;
			background: transparent;
			border-radius: 15px;
			font-size: 16px;
			color: white;
			&:hover {
				color: $cl;
			}
			&.is-active {
				background: white;
				color: $cl;
			}
		}
	}
	.tabs__item {
		vertical-align: top;
		&.is-active {
			cursor: default;
		}
	}
}

.input {
	width: 100%;
	height: 40px;
	padding: 0 12px;
	border: 1px solid #dadada;
	border-radius: 4px;
	&:focus {
		border-color: #b6b6b6;
	}
	&[disabled] {
		color: rgba($cl, 0.3);
		opacity: 0.8;
	}
	&.is-error {
		border-color: #ff8c8c;
	}
}

.field {
	position: relative;
	&.field_search {
		.field__in {
			position: relative;
			display: block;
			cursor: text;
		}
		.input {
			height: 34px;
			padding-left: 35px;
			border-radius: 17px;
			background: transparent;
			font-size: 16px;
			&:focus + .icon {
				fill: $orange;
			}
		}
		.icon {
			position: absolute;
			top: 9px;
			left: 12px;
			width: 15px;
			height: 15px;
			fill: #8c8c8c;
		}
	}
	&.field_search_header {
		float: right;
		width: 250px;
		margin-top: 18px;
		.input {
			border: none;
			background: rgba(#fff,.9);
		}
	}
	.field__error {
		padding: 6px 12px 0;
		font-size: 13px;
		@include fs;
		color: #ff4040;
	}
}

.list {
	.list__item {
		display: block;
		position: relative;
		padding: 16px 20px 16px 40px;
		border-bottom: 1px solid #ececec;
		text-decoration: none;
		color: black;
		&:first-child {
			border-top: 1px solid #ececec;
		}
		&:hover,
		&:active,
		&.is-active {
			background: #eef8fa;
			.icon-tick {
				display: block;
			}
		}
		&:hover {
			text-decoration: underline;
		}
		&:active {
			color: rgba($cl, 0.8);
		}
		&.is-active {
			cursor: default;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.icon-tick {
		display: none;
		position: absolute;
		top: 21px;
		left: 15px;
		width: 10px;
		height: 8px;
		fill: $blue;
	}
}

.msg {
	display: inline-block;
	background: #707070;
	border-radius: 2px;
	vertical-align: top;
	.msg__icon,
	.msg__text,
	.msg__btn {
		display: table-cell;
		vertical-align: top;
	}
	.msg__icon {
		height: 60px;
		padding: 0 10px 0 30px;
		vertical-align: middle;
		.icon-tick {
			width: 13px;
			height: 10px;
			fill: $blue;
		}
		.icon-progress {
			position: relative;
			top: 1px;
			width: 20px;
			height: 15px;
			fill: $gray;
		}
	}
	.msg__text {
		padding: 20px 30px 20px 0;
		font-size: 16px;
		color: white;
	}
	.msg__btn {
		padding: 15px 15px 15px 0;
	}
}

.select {
	position: relative;
	cursor: pointer;
	&.is-active {
		.select__head {
			border-radius: 4px 4px 0 0;
			.icon-arrow-down {
				transform: rotate(180deg)
			}
		}
		.select__list {
			display: block;
		}
	}
	.select__head {
		position: relative;
		height: 40px;
		padding: 0 30px 0 12px;
		background: #f0f0f0;
		border: 1px solid #a4a4a4;
		border-radius: 4px;
		opacity: 0.8;
		line-height: 38px;
		.icon-arrow-down {
			position: absolute;
			top: 14px;
			right: 12px;
			width: 12px;
			height: 8px;
			fill: #b4b4b4;
		}
	}
	.select__list {
		display: none;
		position: absolute;
		top: 39px;
		left: 0;
		width: 100%;
		background: white;
		border: 1px solid #a4a4a4;
		border-top: none;
		border-radius: 0 0 4px 4px;
		z-index: 2;
		li {
			padding: 11px 12px;
			&:last-child {
				border-radius: 0 0 4px 4px;
			}
			&:hover,
			&.is-active {
				background: #f0f0f0;
			}
		}
	}
}

.switch {
	display: inline-block;
	@include nosel;
	cursor: pointer;
	input {
		display: none;
		&:checked + .switch__in {
			background: $blue;
			&:before {
				right: 17px;
			}
		}
	}
	.switch__in {
		display: block;
		position: relative;
		width: 36px;
		height: 14px;
		background: #9f9f9f;
		border-radius: 7px;
		transition: background .2s;
		&:before {
			content: "";
			position: absolute;
			top: -3px;
			right: -1px;
			width: 20px;
			height: 20px;
			background: #FFF;
			border-radius: 50%;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.16);
			transition: right .2s;
		}
	}
}

.tooltip {
	position: absolute;
	padding: 7px 10px;
	border-radius: 2px;
	background: $cl;
	text-align: center;
	&:after {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 50%;
		margin-left: -5px;
		@include arr(10,5,$cl,b)
	}
	.tooltip__date,
	.tooltip__money {
		font-size: 10px;
		color: #fff;
	}
	.tooltip__money {
		margin-bottom: 5px;
	}
	.tooltip__value {
		font-size: 19px;
		color: #DCE775;
	}
	.tooltip__type {
		font-size: 10px;
		color: #DCE775;
	}
}

.field-icon {
	display: block;
	position: relative;
	cursor: text;
	&.is-disabled {
		cursor: not-allowed;
		.field-icon__input,
		.field-icon__label {
			border-color: rgba(#fff,.2);
			color: rgba(#fff,.2);
		}
		.icon {
			fill: rgba(#fff,.2);
		}
	}
	.field-icon__input {
		width: 100%;
		height: 46px;
		padding-left: 30px;
		background: transparent;
		border-bottom: 2px solid rgba(#fff,.4);
		color: #FFF;
		transition: border-color .2s;
		&:focus {
			border-color: #fff;
		}
		&:focus + .field-icon__label {
			top: 0;
			font-size: 10px;
		}
		&.is-error {
			border-color: rgba(#BB3232,.6)
		}
	}
	.field-icon__label {
		position: absolute;
		top: 14px;
		left: 30px;
		font-size: 15px;
		color: rgba(#fff,.8);
		transition: top .2s, font-size .2s;
	}
	.field-icon__icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		height: 46px;
		@include vert;
	}
	.field-icon__error {
		display: block;
		padding: 3px 0 0 30px;
		font-size: 13px;
		@include fs;
		color: #BB3232;
	}	
	.icon {
		display: inline-block;
		fill: rgba(#fff,.8);
		vertical-align: middle;
	}
	.icon-mail {
		width: 18px;
		height: 13px;
	}
	.icon-lock {
		width: 16px;
		height: 18px;
	}
}

.login {
	display: inline-block;
	width: 350px;
	vertical-align: middle;
	.login__logo {
		margin-bottom: 60px;
		@include svg(logo-screen,278,46);
	}
	.login__fieldset {
		margin-bottom: 40px;
		text-align: left;
		.field-icon {
			margin-bottom: 15px;
		}
	}
}

.header {
	position: relative;
	height: 70px;
	background: url(../img/bg-header.jpg) no-repeat 50% 0 $orange;
}

.btn-menu {
	float: left;
	width: 50px;
	height: 50px;
	margin: 10px 15px 0 0;
	border-radius: 50%;
	border: 6px solid #f88745;
	font-size: 0;
	.icon-menu {
		width: 17px;
		height: 15px;
		fill: #fff;
	}
}

.btn-round {
	width: 31px;
	height: 31px;
	background: #FFF;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
	border-radius: 50%;
	font-size: 0;
	.icon-plus {
		width: 15px;
		height: 15px;
		fill: $blue;
	}
}

.btn-back {
	width: 20px;
	height: 60px;
	background: $gray;
	border-radius: 2px;
	font-size: 0;
	.icon-arrow-left {
		width: 9px;
		height: 13px;
		fill: #fff;
	}
}

.chapter {
	float: left;
	margin: 13px 75px 0 0;
	.chapter__title {
		display: inline-block;
		margin-right: 15px;
		font-size: 34px;
		color: #FFF;
		vertical-align: middle;
	}
	.btn-round {
		position: relative;
		top: 2px;
		vertical-align: middle;
	}
}

.nav {
	float: left;
	a {
		position: relative;
		float: left;
		height: 70px;
		padding: 0 30px;
		line-height: 70px;
		font-size: 18px;
		text-decoration: none;
		color: #ffce6a;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 27px;
			right: 27px;
			height: 5px;
		}
		&:hover {
			background: #EB430F;
			color: #fff;
			&:after {
				background: #fff;
			}
		}
	}
}

.user {
	position: relative;
	float: right;
	margin-left: 25px;
	.user__head {
		height: 70px;
		@include vert;
		cursor: pointer;
	}
	.user__name {
		display: inline-block;
		margin-right: 10px;
		font-size: 16px;
		color: #FFF;
		vertical-align: middle;
	}
	.icon-arrow-down {
		display: inline-block;
		width: 12px;
		height: 8px;
		fill: #fff;
		vertical-align: middle;
	}
	.dropdown {
		margin-top: -15px;
	}
}

.dropdown {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	min-width: 192px;
	margin-top: 10px;
	padding: 10px 0;
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	&:before {
		content: "";
		position: absolute;
		top: -5px;
		left: 22px;
		@include arr(10,5,#fff,t)
	}
	&.dropdown_right {
		left: auto;
		right: 0;
		&:before {
			left: auto;
			right: 22px;
		}
	}
	&.dropdown_search {
		a {
			color: #a4a4a4;
		}
		span {
			color: $cl;
		}
	}
	a {
		display: block;
		padding: 7px 20px;
		font-size: 14px;
		color: $cl;
		&:hover {
			background: #F3F3F3;
		}
	}
}

.notification {
	float: right;
	height: 70px;
	margin-left: 25px;
	padding: 0 24px 0 15px;
	@include vert;
	color: #FFF;
	.notification__in {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}
	.notification__counter {
		position: absolute;
		top: -10px;
		right: -24px;
		width: 22px;
		height: 22px;
		background: $blue;
		border-radius: 50%;
		text-align: center;
		font-size: 12px;
		line-height: 22px;
	}
	.icon-upload {
		width: 17px;
		height: 19px;
		fill: #fff;
	}
}

.state {
	margin-bottom: 12px;
	.state__in {
		display: inline;
	}
	.icon {
		width: 13px;
		height: 11px;
		margin-right: 2px;
		fill: $blue;
	}
}

.head {
	background: #fff;
	box-shadow: 0 0 10px rgba(#000,.2);
	.head__in {
		padding: 20px 0;
	}
	.head__in_gray {
		padding: 15px 0;
		background: #f7f7f7;
		.head__cell {
			vertical-align: baseline;
		}
	}
	.head__in_brd {
		border-bottom: 1px solid $brd;
	}
	.head__row {
		display: table;
		width: 100%;
	}
	.head__cell {
		display: table-cell;
		padding-right: 20px;
		vertical-align: top;
	}
	.head__cell_w200 {
		width: 200px;
		padding: 0;
	}
	.head__type {
		font-size: 16px;
	}
}

.updated {
	color: #747474;
	&.updated_pl-16 {
		padding-left: 16px;
	}
}

.title {
	font-size: 34px;
	@include fs;
	color: #000;
	&.title_2 {
		font-size: 24px;
	}
	&.title_3 {
		font-size: 18px;
	}
	&.title_4 {
		font-size: 16px;
	}
	&.title_thin {
		@include f;
	}
	&.title_gray {
		color: #a4a4a4;
	}
	&.title_mb-20 {
		margin-bottom: 20px;
	}
}
a.title {
	&:hover {
		text-decoration: underline;
	}
}

.info {
	font-size: 0;
	line-height: 1;
	.info__item {
		display: inline-block;
		padding: 0 15px;
		border-left: 1px solid #dadada;
		font-size: 16px;
		color: #A4A4A4;
		&:first-child {
			padding: 0 15px 0 0;
			border: none;
		}
	}
}

.tb {
	display: table;
	width: 100%;
	&.tb_brd {
		.tb__row {
			&:first-child {
				.tb__cell {
					border: none;
				}
			}
		}
		.tb__cell {
			padding-top: 10px;
			padding-bottom: 10px;
			border-top: 1px solid $brd;
			vertical-align: middle;
		}
	}
	&.tb_fixed {
		table-layout: fixed;
	}
	&.tb_accord {
		padding: 30px 0 15px;
		border-top: 1px solid $brd;
		.tb__cell {
			padding-bottom: 25px;
		}
	}
	&.tb_el {
		.tb__cell {
			width: 50%;
			padding: 0 20px 20px 0;
			&:first-child,
			&:last-child {
				padding: 0 20px 20px 0;
			}
		}
		.tb__cell_w-25p {
			width: 25%;
		}
		.tb__cell_w-100p {
			width: 100%;
		}
	}
	.tb__in {
		display: table;
		width: 100%;
	}
	.tb__row {
		display: table-row;
	}
	.tb__cell {
		display: table-cell;
		padding-left: 20px;
		vertical-align: top;
		&:first-child {
			padding-left: 40px;
		}
		&:last-child {
			padding-right: 40px;
		}
	}
	.tb__label {
		margin-bottom: 2px;
		color: #A4A4A4;
	}
	.tb__value {
		font-size: 18px;
		color: #444;
	}
	.tb__cell_right {
		text-align: right;
	}
}

.accord {
	margin-bottom: 20px;
	background: #FFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	&.is-active {
		.accord__head {
			.icon-arrow-down {
				transform: rotate(0deg);
			}
		}
	}
	.accord__head {
		position: relative;
		padding: 20px 40px 20px 70px;
		.icon-arrow-down {
			position: absolute;
			top: 50%;
			left: 40px;
			width: 12px;
			height: 8px;
			margin-top: -6px;
			transform: rotate(-90deg);
			fill: $gray;
		}
	}
	.accord__title {
		@include fs;
		font-size: 24px;
		color: #000;
		&:hover {
			text-decoration: underline;
		}
	}
	.accord__counter {
		margin-left: 2px;
		font-size: 14px;
		color: $blue;
		vertical-align: top;
	}
}

.status {
	position: relative;
	padding-left: 16px;
	&:before {
		content: "";
		position: absolute;
		top: 4px;
		left: 0;
		width: 8px;
		height: 8px;
		background: #FFCE6A;
		border-radius: 50%;
	}
	&.status_bold {
		@include fs;
	}
}

.foot {
	display: table;
	width: 100%;
	margin-top: 30px;
	.foot__cell {
		display: table-cell;
		vertical-align: middle;
		&:last-child {
			padding-left: 20px;
			text-align: right;
		}
	}
}

.imported {
	color: #747474;
	.imported__user {
		color: #000;
	}
}

.el {
	margin: 0 40px 0 -10px;
	padding: 30px 0 50px 40px;
	background: #E2E2E2;
	.el__head {
		margin-bottom: 20px;
	}
	.el__in {
		position: relative;
		min-height: 200px;
		margin-right: -20px;
		background: #FFF;
		.btn-back {
			position: absolute;
			top: 20px;
			left: -20px;
			border-radius: 2px 0 0 2px
		}
	}
	.el__accord {
		position: relative;
		background: #FFF;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 5px;
			background: linear-gradient(rgba(#000,.1), rgba(#000,0));
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
	}
	.el__accord-title {
		position: relative;
		padding: 23px 60px;
		.icon-arrow-down {
			position: absolute;
			top: 50%;
			left: 30px;
			width: 12px;
			height: 8px;
			margin-top: -5px;
			fill: $gray;
		}
	}
	.el__accord-container {
		display: none;
	}
	.el__accord-head {
		display: table;
		width: 100%;
		padding: 30px 30px 25px;
	}
	.el__accord-cell {
		display: table-cell;
		padding-left: 20px;
		vertical-align: middle;
		&:first-child {
			padding: 0;
		}
		&:nth-child(2) {
			width: 250px;
		}
		&:last-child {
			width: 150px;
			text-align: right;
		}
	}
	.el__accord-in {
		padding: 30px;
		border-top: 1px solid $brd;
	}
}



