@include font(Source Sans Pro Regular, sourcesanspro-regular);
@mixin f {
	font-family: 'Source Sans Pro Regular', Arial, sans-serif;
}
@include font(Source Sans Pro Semibold, sourcesanspro-semibold);
@mixin fs {
	font-family: 'Source Sans Pro Semibold', Arial, sans-serif;
}

$cl: #404040;

$orange: #ff6633;
$orange-l: #ffd2c3;

$blue: #55bbcc;
$blue-l: #77c9d6;
$blue-d: #1c89a3;
$blue-d1: #096482;

$gray: #cccccc;
$gray-l: #dcdcdc;
$gray-d: #a4a4a4;
$gray-h: #f3f3f3;

$brd: #dadada;
$brd-l: #ececec;

$red: #bb3232;

$green-l: #dce775;

body {
	min-width: 1024px;
	background: #F0F0F0;
	@include f;
	font-size: 14px;
	line-height: 1.3;
	color: $cl;
}

button,
input,
textarea {
	@include f;
	font-size: 14px;
	color: $cl;
	&:disabled {
		cursor: not-allowed;
	}
}
button {
	background: none;
}
a {
	text-decoration: none;
}
th {
	text-align: left;
	font-weight: 400;
}

// common blocks
.wrapper {
	min-height: 100%;
	padding-top: 70px;
	transition: padding .2s;
	&.is-header-fixed {
		padding-top: 40px;
	}
	&.wrapper_login {
		height: 100vh;
		padding: 50px 0;
		background: url(../img/bg-login.jpg);
		background-size: cover;
		@include vertical;
	}
}

.row {
	margin: 0 -10px;
	@include clr;
}

[class^="col-"] {
	float: left;
	padding: 0 10px;
}
.col-100 {
	width: 100%;
}
.col-90 {
	width: 90%;
}
.col-80 {
	width: 80%;
}
.col-75 {
	width: 75%;
}
.col-70 {
	width: 70%;
}
.col-60 {
	width: 60%;
}
.col-55 {
	width: 55%;
}
.col-50 {
	width: 50%;
}
.col-45 {
	width: 45%;
}
.col-40 {
	width: 40%;
}
.col-33 {
	width: 33.33%;
}
.col-30 {
	width: 30%;
}
.col-25 {
	width: 25%;
}
.col-20 {
	width: 20%;
}
.col-17 {
	width: 16.64%;
}
.col-10 {
	width: 10%;
}

@each $s in 3, 5, 10, 15, 20, 25, 30, 35, 40 {
	.mt-#{$s} {
		margin-top: #{$s}px;
	}
}

@each $s in 3, 5, 10, 15, 20, 25, 30, 35, 40 {
	.mb-#{$s} {
		margin-bottom: #{$s}px;
	}
}

@each $s in 3, 5, 10, 15, 20, 25, 30, 35, 40 {
	.mr-#{$s} {
		margin-right: #{$s}px;
	}
}

@each $s in 3, 5, 10, 15, 20, 25, 30, 35, 40 {
	.ml-#{$s} {
		margin-left: #{$s}px;
	}
}

.fs-22 {
	font-size: 22px;
}

.fs-12 {
	font-size: 12px;
}

.text-upper {
	text-transform: uppercase;
}

.panel {
	padding: 30px 40px;
	&.panel_p-0-40 {
		padding: 0 40px;
	}
	&.panel_p-30 {
		padding: 30px;
	}
}

.float-right {
	float: right;
}
.float-left {
	float: left;
}

.bt {
	border-top: 1px solid $brd;
}
.br {
	border-right: 1px solid $brd;
}
.bb {
	border-bottom: 1px solid $brd;
}
.bl {
	border-left: 1px solid $brd;
}

.center {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 10px;
	@include clr;
}

.container {
	padding: 20px 0 50px; 
}

.btn {
	height: 46px;
	padding: 0 30px;
	background: $orange;
	border-radius: 4px;
	font-size: 15px;
	@include fs;
	color: #fff;
	text-transform: uppercase;
	&:hover {
		background: #fe7d53;
	}
	&:active {
		background: #fd5923;
	}
	&[disabled] {
		background: #787878;
		color: #C9C9C9;
	}
	&.btn_gray {
		height: 46px;
		background: #f0f0f0;
		border: 1px solid $gray-d;
		opacity: 0.8;
		color: $cl;
		&:hover {
			background: #fafafa;
		}
		&:active {
			background: #dfdfdf;
		}
		&[disabled] {
			background: #f0f0f0;
			opacity: 0.3;
		}
	}
	&.btn_transparent {
		background: transparent;
		border: 1px solid #8b8b8b;
		border-radius: 2px;
		font-weight: 400;
		&:hover {
			background: #8b8b8b;
		}
		&:active {
			background: #b2b2b2;
			border-color: #b2b2b2;
		}
		&[disabled] {
			border-color: #fff;
			color: #fff;
			opacity: 0.1;
		}
	}
	&.btn_white {
		background: #FFF;
		border: 1px solid $brd;
		color: $cl;
		&:hover {
			background: #FAFAFA;
		}
		&:active {
			background: #F0F0F0;
		}
		&[disabled] {
			opacity: .3;;
		}
	}
	&.btn_white_no_brd {
		background: #FFF;
		border: none;
		color: #fff;
		&[disabled] {
			background: rgba(#fff,.3);
			color: rgba(#fff,.5);
		}
	}
	&.btn_wide {
		width: 100%;
	}
	&.btn_md {
		height: 40px;
		padding: 0 20px;
	}
	&.btn_small {
		height: 30px;
		padding: 0 10px;
	}
	& + .btn {
		margin-left: 7px;
	}
}

.link {
	font-size: 15px;
	color: $orange;
	@include fs;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		opacity: 0.8;
	}
	&.is-disabled {
		opacity: 0.35;
		&:hover {
			text-decoration: none;
			cursor: default;
		}
	}
}

.link-icon {
	display: inline-block;
	font-size: 0;
	&:hover {
		span {
			text-decoration: underline;
		}
		.icon {
			fill: $blue;
		}
	}
	&:active {
		opacity: 0.8;
	}
	&.is-disabled {
		opacity: 0.8;
		span,
		.icon {
			fill: $gray;
		}
		&:hover {
			cursor: default;
			span {
				text-decoration: none;
			}
		}
	}
	span,
	.icon {
		display: inline-block;
		vertical-align: middle;
	}
	span {
		font-size: 14px;
		@include fs;
		color: $blue;
	}
	.icon {
		position: relative;
		top: -1px;
		margin-right: 5px;
		fill: $gray;
	}
}

.item {
	position: relative;
	display: inline-block;
	width: 236px;
	min-height: 259px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	vertical-align: top;
	color: $cl;
	&:hover {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	&.item_no_foot {
		.item__in {
			min-height: 259px
		}
		.item__head {
			min-height: 123px;
		}
	}
	&.item_small_foot {
		.item__in {
			min-height: 229px;
		}
		.item__head {
			min-height: 100px;
		}
		.item__col {
			width: auto;
			height: auto;
		}
	}
	.item__in {
		min-height: 189px;
		padding: 20px 15px 10px 20px;
	}
	.item__head {
		min-height: 113px;
		margin-bottom: 10px;
	}
	.item__type {
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: 9px;
		text-align: right;
		text-transform: uppercase;
		color: $orange;
		@include fs;
	}
	.item__type_brand {
		color: $blue;
	}
	.item__title {
		display: block;
		font-size: 18px;
		@include fs;
		color: black;
		text-decoration: none;
		line-height: 1.2;
		&:hover {
			text-decoration: underline;
			color: $cl;
		}
	}
	.item__title-sub {
		margin-bottom: 10px;
		color: $gray-d;
	}
	.item__foot {
		display: table;
		width: 100%;
		border-top: 1px solid $brd;
	}
	.item__col {
		display: table-cell;
		width: 50%;
		height: 69px;
		vertical-align: middle;
		&:first-child {
			padding: 7px 20px;
		}
		&:last-child {
			padding: 7px 20px 7px 0;
		}
	}
	.item__info {
		& + .item__info {
			margin-top: 10px;
		}
	}
	.item__data {
		font-size: 16px;
	}
	.item__label {
		color: $gray-d;
	}
	.item__value {
		font-size: 20px;
		color: #444444;
	}
	.item__date {
		font-size: 12px;
		color: $gray-d;
		text-align: right;
	}
}

.tags {
	font-size: 0;
	.tags__item {
		display: inline-block;
		margin: 0 4px 4px 0;
		padding: 4px 10px;
		border: 1px solid #e6e6e6;
		border-radius: 2px;
		font-size: 12px;
		color: #747474;
		vertical-align: top;
		text-decoration: none;
	}
}

.tabs {
	font-size: 0;
	&.tabs_simple {
		.tabs__item {
			height: 26px;
			margin-right: 5px;
			padding: 0 12px;
			background: transparent;
			border-radius: 13px;
			@include fs;
			font-size: 16px;
			&:hover {
				background: $brd-l;
			}
			&.is-active {
				background: #9f9f9f;
				color: #fff;
			}
		}
	}
	&.tabs_blue {
		.tabs__item {
			min-width: 94px;
			height: 30px;
			padding: 0 12px;
			background: transparent;
			border: 1px solid $blue;
			border-width: 1px 1px 1px 0;
			font-size: 16px;
			color: $blue;
			&:first-child {
				border-radius: 15px 0 0 15px;
				border-width: 1px;
			}
			&:last-child {
				border-radius: 0 15px 15px 0;
			}
			&:hover {
				background: #eef8fa;
			}
			&.is-active {
				background: $blue;
				color: #fff;
			}
		}
	}
	&.tabs_rounded {
		display: inline-block;
		border: 2px solid #cfcfcf;
		background: #cfcfcf;
		border-radius: 17px;
		vertical-align: top;
		.tabs__item {
			height: 30px;
			padding: 0 18px;
			background: transparent;
			border-radius: 15px;
			font-size: 16px;
			color: #fff;
			&:hover {
				color: $cl;
			}
			&.is-active {
				background: #fff;
				color: $cl;
			}
		}
	}
	&.tabs_line {
		.tabs__item {
			position: relative;
			height: 40px;
			padding: 0 20px;
			@include fs;
			font-size: 14px;
			color: #fff;
			overflow: visible;
			&.is-active {
				background: $blue;
				&:after {
					content: "";
					position: absolute;
					left: 20px;
					right: 20px;
					bottom: 0;
					height: 2px;
					background: #FFF;
				}
			}
		}
	}
	&.tabs_small {
		.tabs__item {
			position: relative;
			height: 25px;
			padding: 0 7px;
			border-radius: 2px;
			font-size: 14px;
			color: #fff;
			&:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 0;
				bottom: 5px;
				width: 1px;
				background: rgba(#fff,.3);
			}
			&:first-child,
			&.is-active {
				&:before {
					display: none;
				}
			}
			&.is-active {
				background: $blue-d;
				& + .tabs__item {
					&:before {
						display: none;
					}
				}
			}
		}
	}
	.tabs__item {
		vertical-align: top;
		&.is-active {
			cursor: default;
		}
	}
}

.input {
	width: 100%;
	height: 40px;
	padding: 0 12px;
	border: 1px solid $brd;
	border-radius: 4px;
	&:focus {
		border-color: #b6b6b6;
	}
	&[disabled] {
		color: rgba($cl, 0.3);
		opacity: 0.8;
	}
	@include placeholder {
		color: rgba($cl, .6);
	}
	&.is-error {
		border-color: #ff8c8c;
	}
}

.field {
	position: relative;
	&.field_search,
	&.field_search_round {
		.field__in {
			position: relative;
			display: block;
			cursor: text;
		}
		.input {
			background: transparent;
			font-size: 16px;
			&:focus + .icon {
				fill: $orange;
				opacity: 1;
			}
		}
		.icon-search {
			position: absolute;
			top: 50%;
			width: 15px;
			height: 15px;
			margin-top: -8px;
			fill: $cl;
			opacity: .6;
		}
	}
	&.field_search_round {
		.input {
			height: 34px;
			padding: 0 35px;
			border-radius: 17px;
			border-color: $brd-l;
			&:hover {
				border-color: $brd;
			}
		}
		.icon {
			left: 12px;
		}
	}
	&.field_search {
		.input {
			padding-left: 38px;
		}
		.icon {
			left: 14px;
		}
	}
	.field__error {
		padding: 6px 12px 0;
		font-size: 13px;
		@include fs;
		color: #ff4040;
	}
	.field__reset {
		position: absolute;
		top: 0;
		right: 0;
		width: 34px;
		height: 34px;
		font-size: 0;
		.icon-close {
			fill: $gray;
		}
		&:hover {
			.icon-close {
				fill: $gray-d;
			}
		}
	}
}

.list {
	.list__item {
		display: block;
		position: relative;
		padding: 16px 20px 16px 40px;
		border-bottom: 1px solid $brd-l;
		text-decoration: none;
		color: black;
		&:first-child {
			border-top: 1px solid $brd-l;
		}
		&:hover,
		&:active,
		&.is-active {
			background: #eef8fa;
			.icon-tick {
				display: block;
			}
		}
		&:hover {
			text-decoration: underline;
		}
		&:active {
			color: rgba($cl, 0.8);
		}
		&.is-active {
			cursor: default;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.icon-tick {
		display: none;
		position: absolute;
		top: 21px;
		left: 15px;
		fill: $blue;
	}
}

.msg {
	display: inline-block;
	background: #707070;
	border-radius: 2px;
	vertical-align: top;
	.msg__icon,
	.msg__text,
	.msg__btn {
		display: table-cell;
		vertical-align: top;
	}
	.msg__icon {
		height: 60px;
		padding: 0 10px 0 30px;
		vertical-align: middle;
		.icon-tick {
			fill: $blue;
		}
		.icon-progress {
			position: relative;
			top: 1px;
			fill: $gray;
		}
	}
	.msg__text {
		padding: 20px 30px 20px 0;
		font-size: 16px;
		color: #fff;
	}
	.msg__btn {
		padding: 15px 15px 15px 0;
	}
}

.select {
	position: relative;
	cursor: pointer;
	&.is-active {
		.select__head {
			border-radius: 4px 4px 0 0;
			.icon-arrow-down {
				transform: rotate(180deg)
			}
		}
		.select__list {
			display: block;
		}
	}
	.select__head {
		position: relative;
		height: 40px;
		padding: 0 30px 0 12px;
		background: #f0f0f0;
		border: 1px solid $gray-d;
		border-radius: 4px;
		opacity: 0.8;
		line-height: 38px;
		.icon-arrow-down {
			position: absolute;
			top: 14px;
			height: 8px;
			fill: #b4b4b4;
		}
	}
	.select__list {
		display: none;
		position: absolute;
		top: 39px;
		left: 0;
		width: 100%;
		background: #fff;
		border: 1px solid $gray-d;
		border-top: none;
		border-radius: 0 0 4px 4px;
		z-index: 2;
		li {
			padding: 11px 12px;
			&:last-child {
				border-radius: 0 0 4px 4px;
			}
			&:hover,
			&.is-active {
				background: #f0f0f0;
			}
		}
	}
}

.switch {
	position: relative;
	display: inline-block;
	@include nosel;
	cursor: pointer;
	z-index: 4;
	input {
		display: none;
		&:checked + .switch__in {
			background: $blue;
			&:before {
				right: -1px;
			}
		}
	}
	.switch__in {
		display: block;
		position: relative;
		width: 36px;
		height: 14px;
		background: #9f9f9f;
		border-radius: 7px;
		transition: background .2s;
		&:before {
			content: "";
			position: absolute;
			top: -3px;
			right: 17px;
			width: 20px;
			height: 20px;
			background: #FFF;
			border-radius: 50%;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.16);
			transition: right .2s;
		}
	}
}

.tooltip {
	position: absolute;
	padding: 7px 10px;
	border-radius: 2px;
	background: $cl;
	text-align: center;
	&:after {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 50%;
		margin-left: -5px;
		@include arr(10,5,$cl,b)
	}
	.tooltip__date,
	.tooltip__money {
		font-size: 10px;
		color: #fff;
	}
	.tooltip__money {
		margin-bottom: 5px;
	}
	.tooltip__value {
		font-size: 19px;
		color: $green-l;
	}
	.tooltip__type {
		font-size: 10px;
		color: $green-l;
	}
}

.field-icon {
	display: block;
	position: relative;
	cursor: text;
	&.is-disabled {
		cursor: not-allowed;
		.field-icon__input,
		.field-icon__label {
			border-color: rgba(#fff,.2);
			color: rgba(#fff,.2);
		}
		.icon {
			fill: rgba(#fff,.2);
		}
	}
	&.is-filled {
		.field-icon__input {
			border-color: #fff;
		}
		.field-icon__label {
			top: 0;
			font-size: 10px;
		}
	}
	&.is-error {
		.field-icon__input {
			border-color: rgba($red,.8);
		}
	}
	.field-icon__input {
		width: 100%;
		height: 46px;
		padding-left: 30px;
		background: transparent;
		border-bottom: 2px solid rgba(#fff,.4);
		font-size: 15px;
		color: #FFF;
		transition: border-color .2s;
		@include placeholder {
			color: rgba(#fff,.8);
		}
	}
	.field-icon__label {
		position: absolute;
		top: 14px;
		left: 30px;
		font-size: 15px;
		color: rgba(#fff,.8);
		transition: top .2s, font-size .2s;
	}
	.field-icon__icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		height: 44px;
		@include vert;
	}
	.field-icon__error {
		display: block;
		padding: 3px 0 0 30px;
		font-size: 13px;
		@include fs;
		color: $red;
	}	
	.icon {
		display: inline-block;
		fill: rgba(#fff,.8);
		vertical-align: middle;
	}
}

.login {
	display: inline-block;
	width: 350px;
	vertical-align: middle;
	.login__logo {
		margin-bottom: 60px;
		padding-right: 10px;
	}
	.login__ico {
		@include svg(logo-screen,278,46);
	}
	.login__fieldset {
		margin-bottom: 40px;
		text-align: left;
		.field-icon {
			margin-bottom: 15px;
		}
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	background: url(../img/bg-header.jpg) no-repeat 50% 0 $orange;
	transition: height .2s;
	z-index: 99;
	&.is-fixed {
		height: 40px;
		background: $orange;
		.header__cell {
			height: 40px;
		}
		.header__nav {
			a {
				height: 40px;
				line-height: 40px;
				&:after {
					display: none;
				}
			}
		}
		.header__notify-counter {
			top: -2px;
		}
		.header__btn-menu {
			width: auto;
			height: auto;
			border: 0px solid transparent;
			border-radius: 0;
		}
		.header__chapter {
			.dropdown-menu {
				left: -16px;
			}
		}
		.header__chapter-title {
			font-size: 20px;
		} 
		.header__chapter-add {
			width: 21px;
			height: 21px;
			.icon-plus {
				width: 13px;
				height: 13px;
				fill: $blue;
			}
			&:active {
				.icon-plus {
					fill: $blue-d;
				}
			}
		} 
	}
	.header__left {
		float: left;
	}
	.header__right {
		float: right;
	}
	.header__cell {
		display: table-cell;
		height: 70px;
		vertical-align: middle;
		transition: height .2s;
		font-size: 0;
	}
	.header__btn-menu {
		width: 50px;
		height: 50px;
		margin-right: 15px;
		border-radius: 50%;
		border: 6px solid #f88745;
		font-size: 0;
		vertical-align: middle;
		transition: all .2s;
		transition-delay: .1s;
		&:hover,
		&.is-active {
			.icon-menu {
				fill: $orange-l;
			}
		}
		.icon-menu {
			width: 18px;
			height: 16px;
			fill: #fff;
		}
	}
	.header__chapter {
		display: inline-block;
		margin-right: 75px;
		vertical-align: middle;
		.btn-round {
			position: relative;
			top: 2px;
			vertical-align: middle;
		}
		.dropdown-menu {
			left: -12px;
		}
	}
	.header__chapter-title {
		display: inline-block;
		margin-right: 15px;
		font-size: 34px;
		color: #FFF;
		vertical-align: middle;
		transition: font-size .2s;
	}
	.header__chapter-add {
		width: 31px;
		height: 31px;
		background: #FFF;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
		border-radius: 50%;
		font-size: 0;
		vertical-align: middle;
		transition: all .2s;
		&:hover {
			.icon-plus {
				fill: $blue-l;
			}
		}
		&:active {
			.icon-plus {
				fill: $blue-d;
			}
		}
		.icon-plus {
			width: 15px;
			height: 15px;
			fill: $blue;
		}
	}
	.header__nav {
		display: inline-block;
		vertical-align: middle;
		a {
			position: relative;
			float: left;
			height: 70px;
			padding: 0 30px;
			line-height: 70px;
			font-size: 18px;
			text-decoration: none;
			color: #ffce6a;
			transition: height .2s, line-height .2s;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 27px;
				right: 27px;
				height: 5px;
			}
			&.is-active {
				background: #EB430F;
				color: #fff;
				&:after {
					background: #fff;
				}
			}
			&:hover {
				color: #FFF;
			}
		}
	}
	.header__user {
		display: inline-block;
		margin-left: 25px;
		vertical-align: middle;
	}
	.header__search {
		display: inline-block;
		width: 250px;
		vertical-align: middle;
		.input {
			border: none;
			background: rgba(#fff,.9);
		}
		&.is-closed {
			width: 35px;
			.field_search_round {
				.icon {
					left: 10px;
					fill: #fff;
					cursor: pointer;
				}
			}
			.input {
				padding-right: 0;
				background: rgba(#fff,0);
			}
		}
	}
	.header__notify {
		display: inline-block;
		margin-left: 25px;
		padding: 0 24px 0 15px;
		color: #FFF;
		vertical-align: middle;
		.icon-upload {
			width: 17px;
			height: 19px;
			fill: #fff;
		}
		&:hover {
			.icon-upload {
				fill: $orange-l;
			}
		}
	}
	.header__notify-in {
		position: relative;
		display: block;
	}
	.header__notify-counter {
		position: absolute;
		top: -10px;
		right: -24px;
		width: 22px;
		height: 22px;
		padding: 1px 0 0 1px;
		background: $blue;
		border-radius: 50%;
		text-align: center;
		font-size: 12px;
		line-height: 22px;
		transition: top .2s;
	}
}

.btn-back {
	float: left;
	width: 20px;
	height: 60px;
	margin-right: 20px;
	background: $gray;
	border-radius: 2px;
	font-size: 0;
	&:hover {
		background: #DAD9D9;
	}
	&:active {
		background: #C1C1C1;
	}
	.icon-arrow-left {
		width: 9px;
		height: 13px;
		fill: #fff;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
	&.is-active {
		.dropdown__head {
			.icon {
				transform: rotate(-180deg);
			}
		}
		.dropdown-menu {
			display: block;
		}
	}
	&.dropdown_white {
		&:hover,
		&.is-active {
			.dropdown__head {
				.dropdown__title {
					color: $orange-l;
				}
				.icon {
					fill: $orange-l;
				}
			}
		}
		.dropdown__head {
			.dropdown__title {
				color: #FFF;
			}
			.icon {
				fill: #fff;
			}
		}
	}
	& + .dropdown {
		margin-left: 33px;
	}
	.dropdown__head {
		@include nosel;
		cursor: pointer;
		.dropdown__title,
		.icon {
			display: inline-block;
			vertical-align: middle;
		}
		.dropdown__title {
			font-size: 16px;
			color: #444;
		}
		.icon {
			width: 12px;
			height: 8px;
			margin-left: 6px;
			fill: $gray;
			transition: transform .2s;
		}
	}
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	min-width: 192px;
	margin-top: 10px;
	padding: 10px 0;
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	z-index: 99;
	&:before,
	&:after {
		content: "";
		position: absolute;
	}
	&:before {
		top: -5px;
		left: 22px;
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
		background: #FFF;
	}
	&:after {
		top: 0;
		left: 12px;
		width: 30px;
		height: 10px;
		background: #FFF;
	}
	&.dropdown-menu_right {
		left: auto;
		right: 0;
		&:before {
			left: auto;
			right: 22px;
		}
		&:after {
			left: auto;
			right: 12px;
		}
	}
	&.dropdown-menu_search {
		a {
			color: $gray-d;
		}
		span {
			color: $cl;
		}
	}
	a {
		display: block;
		padding: 7px 20px;
		font-size: 14px;
		color: $cl;
		&:hover {
			background: $gray-h;
		}
	}
}

.state {
	margin-bottom: 12px;
	.state__in {
		display: inline;
	}
	.icon {
		width: 13px;
		height: 11px;
		margin-right: 2px;
		fill: $blue;
	}
}

.head {
	background: #fff;
	box-shadow: 0 0 10px rgba(#000,.2);
	&.head_p-12 {
		padding: 12px 0;
	}
	.head__in {
		padding: 20px 0;
	}
	.head__in_gray {
		padding: 15px 0;
		background: #f7f7f7;
	}
	.head__in_brd {
		border-bottom: 1px solid $brd;
	}
}

.updated {
	color: #747474;
	&.updated_pl-16 {
		padding-left: 16px;
	}
}

.dt {
	display: table;
}

.title {
	font-size: 34px;
	@include fs;
	color: #000;
	line-height: 1.2;
	&.title_1 {
		font-size: 26px;
	}
	&.title_2 {
		font-size: 24px;
	}
	&.title_3 {
		font-size: 22px;
	}
	&.title_4 {
		font-size: 18px;
	}
	&.title_5 {
		font-size: 16px;
	}
	&.title_6 {
		font-size: 14px;
	}
	&.title_thin {
		@include f;
	}
	&.title_gray {
		color: $gray-d;
	}
	&.title_white {
		color: #fff;
	}
	&.title_default {
		color: $cl;
	}
	.title__link {
		color: #000;
		&:hover {
			.title__text {
				text-decoration: underline;
			}
		}
	}
	.title__counter {
		padding-left: 2px;
		font-size: 14px;
		color: $blue;
		vertical-align: top;
	}
}

.info {
	font-size: 0;
	line-height: 1;
	.info__item {
		display: inline-block;
		padding: 0 15px;
		border-left: 1px solid $brd;
		font-size: 16px;
		color: $gray-d;
		&:first-child {
			padding: 0 15px 0 0;
			border: none;
		}
		&.is-blue {
			color: $blue;
		}
	}
}

.data {
	&.data_white {
		color: #FFF;
		.data__label {
			color: $blue-d1;
		}
	}
	.data__label {
		margin-bottom: 2px;
		color: $gray-d;
	}
	.data__value {
		font-size: 18px;
	}
	.data__value_mid {
		font-size: 24px;
	}
	.data__value_big {
		font-size: 32px;
		line-height: 1;
	}
	.data__value_bigger {
		font-size: 42px;
		line-height: 1;
	}
	.data__graph {
		display: inline-block;
		margin-left: 20px;
		vertical-align: middle;
		font-size: 0;
	}
	.data__group {
		font-size: 0;
		.data__value,
		.data__graph {
			display: inline-block;
			vertical-align: middle;
		}
		.data__value {
			min-width: 60px;
			margin-right: 10px;
		}
	}
}

.table {
	&.table_custom {
		background: #FFF;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		table-layout: fixed;
		th, td {
			&:first-child {
				padding-left: 20px;
			}
			&:last-child {
				padding-right: 20px;
			}
		}
		th {
			padding: 10px;
		}
		td {
			padding: 15px 10px;
		}
		.title {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	th, td {
		&:first-child {
			padding-left: 40px;
		}
		&:last-child {
			padding-right: 40px;
		}
		&.table__w-10 {
			width: 10%;
		}
		&.table__w-12 {
			width: 12%;
		}
		&.table__w-12-5 {
			width: 12.5%;
		}
		&.table__w-13 {
			width: 13%;
		}
		&.table__w-15 {
			width: 15%;
		}
		&.table__w-25 {
			width: 25%;
		}
		&.table__w-50 {
			width: 50%;
		}
	}
	tr {
		&.is-disabled {
			td {
				position: relative;
				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(#fff,.8);
					z-index: 2;
				}
			}
		}
		&.is-active {
			td {
				background: #EEF8FA;
				&:first-child {
					.icon-tick {
						display: block;
					}
				}
			}
		}
	}
	th {
		padding: 0 10px 15px;
		color: $gray-d;
	}
	td {
		position: relative;
		height: 50px;
		padding: 10px;
		border-top: 1px solid $brd;
		vertical-align: middle;
		&:first-child {
			.icon-tick {
				display: none;
				position: absolute;
				top: 18px;
				left: 15px;
				width: 10px;
				height: 8px;
				fill: $blue
			}
		}
	}
}

.ta-right {
	text-align: right;
}

.accord {
	background: #FFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	&.is-active {
		.accord__head {
			.icon-arrow-down {
				transform: rotate(0deg);
			}
		}
	}
	&.accord_toggle {
		&.is-active {
			.accord__head {
				&:before {
					display: none;
				}
			}
		}
		.accord__head {
			padding: 25px 30px 25px 60px;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 5px;
				background: linear-gradient(rgba(#000,.1), rgba(#000,0));
			}
			.icon-arrow-down {
				left: 30px;
			}
		}
	}
	.accord__head {
		position: relative;
		padding: 20px 40px 20px 70px;
		.icon-arrow-down {
			position: absolute;
			top: 50%;
			left: 40px;
			width: 12px;
			height: 8px;
			margin-top: -6px;
			transform: rotate(-90deg);
			fill: $gray;
		}
	}
	.accord__in {
		display: none;
	}
	.accord__title {
		@include fs;
		font-size: 24px;
		color: #000;
		&:hover {
			text-decoration: underline;
		}
	}
	.accord__options {
		margin: -6px 0;
	}
}

.status {
	position: relative;
	padding-left: 16px;
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 8px;
		height: 8px;
		margin-top: -5px;
		border-radius: 50%;
	}
	&.status_draft {
		&:before {
			background: #FFCE6A;
		}
	}
	&.status_pushed {
		&:before {
			background: #63d300;
		}
	}
	&.status_live {
		&:before {
			background: $blue;
		}
	}
	&.status_canceled {
		&:before {
			background: #eb430f;
		}
	}
	&.status_completed {
		&:before {
			border: 1px solid #a7a7a7;
		}
	}
	&.status_bold {
		@include fs;
	}
	&.status_small {
		font-size: 12px;
	}
}

.foot {
	display: table;
	width: 100%;
	margin-top: 30px;
	.foot__cell {
		display: table-cell;
		vertical-align: middle;
		&:last-child {
			padding-left: 20px;
			text-align: right;
		}
	}
}

.imported {
	color: #747474;
	.imported__user {
		color: #000;
	}
}

.section {
	margin: 0 40px 0 -10px;
	padding: 30px 0 50px 40px;
	background: #E2E2E2;
	.section__head {
		margin-bottom: 20px;
	}
	.section__in {
		position: relative;
		min-height: 200px;
		margin-right: -20px;
		background: #FFF;
		.btn-back {
			position: absolute;
			top: 20px;
			left: -20px;
			border-radius: 2px 0 0 2px
		}
	}
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	background: #FFF;
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
	overflow: auto;
	transform: translateX(-300px);
	transition: transform .4s;
	z-index: 999;
	&.is-active {
		transform: translateX(0);
	}
	.menu__head {
		position: relative;
		height: 70px;
		padding: 20px 50px 0 30px;
	}
	.menu__logo {
		@include svg(logo,172,28)
	}
	.menu__close {
		position: absolute;
		top: 18px;
		right: 20px;
		padding: 10px;
		font-size: 0;
		&:hover {
			.icon {
				fill: $gray-d;
			}
		}
		.icon {
			width: 13px;
			height: 13px;
			fill: $gray
		}
	}
	.menu__nav,
	.menu__links {
		a {
			display: block;
			margin-bottom: 10px;
			padding: 10px 16px 10px 75px;
			border-right: 4px solid transparent;
			&:hover {
				color: $orange;
			}
			&.is-active {
				background: #ffefea;
				border-color: $orange;
				color: $orange;
				cursor: default;
			}
		}
	}
	.menu__nav {
    	padding: 18px 0 100px;
		a {
			@include fs;
			font-size: 17px;
			color: #000;
			text-transform: uppercase;
		}
	}
	.menu__links {
		a {
			font-size: 16px;
			color: $cl;
		}
	}
}

.sorting {
	padding: 12px;
	background: #FFF;
}

.total-counter {
	font-size: 16px;
	color: #747474;
}

.country {
	display: inline-block;
	padding: 3px 9px;
	border: 1px solid $brd;
	font-size: 12px;
	color: #747474;
	text-transform: uppercase;
	vertical-align: middle;
}

.pager {
	font-size: 0;
	.pager__list {
		display: inline-block;
		padding: 0 13px;
		vertical-align: top;
	}
	.pager__prev,
	.pager__next {
		width: 40px;
		padding: 0;
		font-size: 0;
		.icon {
			fill: #b7b7b7;
		}
	}
	.pager__prev {
		padding-right: 2px;
	}
	.pager__next {
		padding-left: 2px;
	}
	.pager__btn {
		width: 26px;
		height: 40px;
		font-size: 16px;
		color: $blue;
		&.is-active {
			color: $cl;
		}
	}
}

.campaign {
	min-height: 538px;
	background: $blue;
	.campaign__head {
		background: $blue-d;
	}
	.campaign__in {
		padding: 15px 20px;
	}
}

.progress {
	.progress__stats {
		margin-bottom: 10px;
		@include clr;
	}
	.progress__stats-item {
		float: right;
		&:first-child {
			float: left;
		}
	}
	.progress__stats-value {
		font-size: 32px;
		line-height: 1;
	}
	.progress__stats-text {
		font-size: 12px;
	}
	.progress__data {
		margin-bottom: 5px;
		background: $blue-d;
		border-radius: 2px;
	}
	.progress__data-in {
		height: 10px;
		border-radius: 2px;
		background: $green-l;
	}
	.progress__scale {
		margin-bottom: 10px;
		@include clr;
	}
	.progress__scale-item {
		float: right;
		font-size: 12px;
		color: $blue-d1;
		&:first-child {
			float: left;
		}
	}
	.progress__text {
		font-size: 11px;
	}
}

.graph {
	img {
		display: block;
		max-width: 100%;
	}
}

.more {
	position: relative;
	top: -2px;
	width: 40px;
	height: 20px;
	border-radius: 2px;
	font-size: 0;
	vertical-align: middle;
	&:hover {
		background: rgba($blue,.3);
	}
	&:active {
		background: rgba($blue,.2);
	}
	.icon-dots {
		fill: $blue;
	}
}














































































































































