.icon-arrow-down {
	width: 12px;
	height: 8px;
}
.icon-arrow-left {
	width: 9px;
	height: 13px;
}
.icon-arrow-right {
	width: 9px;
	height: 13px;
}
.icon-arrow-top {
	width: 12px;
	height: 7px;
}
.icon-attention {
	width: 18px;
	height: 18px;
}
.icon-calendar {
	width: 19px;
	height: 18px;
}
.icon-checkbox-tick {
	width: 15px;
	height: 13px;
}
.icon-close {
	width: 13px;
	height: 12px;
}
.icon-code {
	width: 19px;
	height: 9px;
}
.icon-configure {
	width: 19px;
	height: 18px;
}
.icon-continue {
	width: 11px;
	height: 9px;
}
.icon-decrease {
	width: 12px;
	height: 9px;
	fill: #ffa6a6;
}
.icon-dots {
	width: 19px;
	height: 5px;
}
.icon-edit {
	width: 18px;
	height: 18px;
}
.icon-error {
	width: 71px;
	height: 71px;
	fill: $red-l;
}
.icon-growth {
	width: 12px;
	height: 9px;
	fill: #dce775;
}
.icon-info {
	width: 19px;
	height: 18px;
}
.icon-lock {
	width: 17px;
	height: 19px;
}
.icon-mail {
	width: 19px;
	height: 14px;
}
.icon-map-pixel {
	width: 18px;
	height: 18px;
}
.icon-map-urls {
	width: 18px;
	height: 18px;
}
.icon-menu {
	width: 18px;
	height: 15px;
}
.icon-plus {
	width: 15px;
	height: 15px;
}
.icon-progress {
	width: 20px;
	height: 15px;
}
.icon-search {
	width: 15px;
	height: 15px;
}
.icon-segment {
	width: 18px;
	height: 18px;
}
.icon-success {
	width: 71px;
	height: 71px;
	fill: $blue;
}
.icon-tick {
	width: 13px;
	height: 11px;
}
.icon-upload {
	width: 17px;
	height: 19px;
}
.icon-upload-circle {
	width: 19px;
	height: 20px;
}
.icon-url {
	width: 18px;
	height: 19px;
}
.icon-view {
	width: 22px;
	height: 15px;
}

































